<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CSIT ASSOCIATION OF BMC</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <!-- start of navbar -->
    <!-- end of navbar -->


   <!-- start of blog section -->
   <section id="Blog">
       <!-- overlay_section -->
    <div class="blog_header blog_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="overlay_text">
                        <h3>BLOG SECTION</h3>
                        <a href="NewBlog.html">
                            <button class="btn blog_btn"> <i class="fa fa-rss"></i>Write a new blog</button>
                        </a>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- first Blog post -->
    <div class="container mb-4">
        <div class="row blog_row mb-5" data-aos="zoom-in-up" data-aos-duration="1500">
            <div class="col-md-7 para_section">
                <div class="blog_details">
                    <div class="blog_title">
                        <a href="">What It Takes to Give a Great Presentation</a>
                    </div>
                    <div class="blog_content" style="word-wrap: break-word;">
                        <p class="para">Summary: Never underestimate the power of great communication. It can help youland the
                            job ofyour dreams, attract investors to back your idea, or elevate your stature within your
                            organization. But while there are plenty of good speakers in the world, you can set yourself
                            apart out by being the p…
                        </p>
                    </div>
                    <ul class="blog_writer_details">
                        <li class="writer">
                            <div class="user_image">
                                <img src="../assets/kisan.jpg" alt="first_user">
                            </div>
                            <p class="name">Kisan Basyal</p>
                        </li>
                        <li class="date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <p class="day">May 27 ,2021</p>
                        </li>
                        <li class="button">
                            <a href="ReadMore.html"><button class="btn btn-primary">Read Blog</button></a>
                        </li>
                        <li class="line"></li>
    
                    </ul>
                </div>
            </div>
            <div class="col-md-1 mid-line">
            </div>
            <div class="col-md-4" style="padding-right: 0%!important; display:flex; align-items:center;">
                <div class="blog_image">
                    <img src="../assets/bcg1.jpg" alt="1">
                </div>
            </div>
        </div>
        <!-- second blog post -->

        <div class="row blog_row mb-5" data-aos="zoom-in-up" data-aos-duration="1500">
            <div class="col-md-7 para_section">
                <div class="blog_details">
                    <div class="blog_title">
                        <a href="">What It Takes to Give a Great Presentation</a>
                    </div>
                    <div class="blog_content" style="word-wrap: break-word;">
                        <p class="para">Summary: Never underestimate the power of great communication. It can help youland the
                            job ofyour dreams, attract investors to back your idea, or elevate your stature within your
                            organization. But while there are plenty of good speakers in the world, you can set yourself
                            apart out by being the p…
                        </p>
                    </div>
                    <ul class="blog_writer_details">
                        <li class="writer">
                            <div class="user_image">
                                <img src="../assets/kisan.jpg" alt="first_user">
                            </div>
                            <p class="name">Darsan Sharma</p>
                        </li>
                        <li class="date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <p class="day">June 27 ,2021</p>
                        </li>
                        <li class="button">
                            <a href="ReadMore.html"><button class="btn btn-primary btn2">Read Blog</button></a>
                        </li>
                        <li class="line"></li>
    
                    </ul>
                </div>
            </div>
            <div class="col-md-1 mid-line">
            </div>
            <div class="col-md-4" style="padding-right: 0%!important; display:flex; align-items:center;">
                <div class="blog_image">
                    <img src="../assets/bcg2.jpg" alt="1">
                </div>
            </div>
        </div>
    
    </div>

    <!-- pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

   </section>
  









    <!-- start of footter -->
    <!-- end of footer -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</body>
</html>