<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSIT ASSOCIATION</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <!-- start of  navbar -->
    <!-- end of navbar -->





    <!-- start of Blog sections -->
    <div class="blog_container">
        <div class="blog_image">
            <div class="overlay">
                <h1>BLOG SECTION</h1>
            </div>
        </div>



        <!-- first blog content -->
        <div class="blog_content">
            <div class="col-md-7 wrapper">
                <h1 class="head">What It Takes to Give a Great Presentation</h1>
                <p class="para">Summary: Never underestimate the power of great communication. It can help you<br /> land the
                    job ofyour dreams, attract investors to back your idea, or elevate your <br />stature within your
                    organization. But while there are plenty of good speakers <br />in the world, you can set yourself
                    apart out by being the p…
                </p>
            
                <ul class="blog_writer_details">
                    <li class="writer">
                        <div class="user_image">
                            <img src="../assets/kisan.jpg" alt="first_user">
                        </div>
                        <p class="name">Kisan</p>
                    </li>
                    <li class="date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <p class="day">May 27 ,2021</p>
                    </li>
                    <li class="button">
                        <a href="ReadMore.html"><button class="btn btn-primary">READ MORE</button></a>
                    </li>
                    <li class="line"></li>

                </ul>
                <div id="like_cmnt">
                <div class="React_button">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <i class="fa fa-share" aria-hidden="true"></i>
                </div>
                <div class="commment">
                    <section id="app">
                        <div class="container">
                          <div class="row">
                            <div class="col-6">
                              <div class="comment">
                            <p></p>
                              </div><!--End Comment-->
                              </div><!--End col -->
                              </div><!-- End row -->
                          <div class="row">
                            <div class="col-6 main">
                          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                          <button class='primaryContained' type="submit">Add Comment</button>

                            </div><!-- End col -->
                          </div><!--End Row -->
                        </div><!--End Container -->
                      </section><!-- end App -->
                   
                </div>
            </div>
            

            </div>


            <div class="col-md-5">
                <img src="../assets/bcg.jpg" class="img-responsive" alt="blog_image">
            </div>


        </div>


        <!-- second blog content -->
        <div class="blog_content">
            <div class="col-md-7 wrapper">
                <h1 head>What It Takes to Give a Great Presentation</h1>
                <p class="para">Summary: Never underestimate the power of great communication. It can help you<br /> land the
                    job ofyour dreams, attract investors to back your idea, or elevate your <br />stature within your
                    organization. But while there are plenty of good speakers <br />in the world, you can set yourself
                    apart out by being the p…
                </p>

                <ul class="blog_writer_details">
                    <li class="writer">
                        <div class="user_image">
                            <img src="../assets/kisan.jpg" alt="first_user">
                        </div>
                        <p class="name">Kisan</p>
                    </li>
                    <li class="date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <p class="day">May 27 ,2021</p>
                    </li>
                    <li class="button">
                       <a href="ReadMore.html"><button class="btn btn-primary">READ MORE</button></a> 
                    </li>
                    <li class="line"></li>
                    
                </ul>
                <div id="like_cmnt">
                <div class="React_button">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <i class="fa fa-share" aria-hidden="true"></i>

                </div>
                <div class="commment">
                    <section id="app">
                        <div class="container">
                          <div class="row">
                            <div class="col-6">
                              <div class="comment">
                            <p></p>
                              </div><!--End Comment-->
                              </div><!--End col -->
                              </div><!-- End row -->
                          <div class="row">
                            <div class="col-6 main">
                          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                          <button class='primaryContained' type="submit">Add Comment</button>

                            </div><!-- End col -->
                          </div><!--End Row -->
                        </div><!--End Container -->
                      </section><!-- end App -->
                   
                </div>
            </div>
            
            



            </div>


            <div class="col-md-5">
                <img src="../assets/bcg1.jpg" class="img-responsive" alt="blog_image">
            </div>

        </div>

        <div class="write_new_blog">
            <h2>Write a new blog</h2>
            <i class="fa fa-rss-square" aria-hidden="true"></i>

        </div>
        </section>
        <!-- end of blog section -->
</div>







        <!-- start of Footer -->
        <!-- end of footer -->
</body>

</html>