<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CSIT ASSOCIATION OF BMC</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <link rel="stylesheet" href="style.css"/>
     <link rel="stylesheet" href="nav_footer.css"/>
     <link rel="stylesheet" href="nav_footer_responsive.css"/>
</head>
<body>
    <!-- start of navbar -->
    <header id="header-section">
  
        <div class="container-fluid">
            <div class="row">
              
                <div class="top-wrapper">
             
                 <div class="contact">
                 <ul>
                     <li><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;+071-25-83748</li>
                     <li><i class="fas fa-envelope"></i> <a href="#">&nbsp;info@example.com</a></li>
                 </ul>
                 </div>
                 <div class="login-btn">
                     <a class=""><i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
                 </div>
                </div>
               
            </div>
    
            </div>
           
          
             <!-- navbar -->
             <nav class="navbar navbar-expand-lg navbar-light bg-white navs ">
                 <a href="./index.html" class="navbar-brand"><img src="../assets/logo.png" alt="logo"></a>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse " id="navbarNavDropdown">
                   <ul class="navbar-nav ml-auto">
                        <!-- Home Link -->
                     <li class="nav-item">
                       <a class="nav-link" href="./index.html">Home </a>
                     </li>
                     <!-- About Link with DropDown -->
                     <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          About
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                           <a class="dropdown-item" href="#">About</a>
                           <a class="dropdown-item" href="#">About</a>
                           
                         </div>
                       </li>
                     <!-- Events -->
                     <li class="nav-item">
                       <a class="nav-link" href="#">Events</a>
                     </li>
    
                     <!-- notes -->
                     <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Notes
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                           <a class="dropdown-item" href="#">1sem</a>
                           <a class="dropdown-item" href="#">2nd sem</a>
                           
                         </div>
                       </li>
                       <!-- Posts -->
                     <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Posts
                       </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item" href="./blog.html">Blogs</a>
                         <a class="dropdown-item" href="#">Vlogs</a>
                         
                       </div>
                     </li>
    
                     <li class="nav-item">
                         <a class="nav-link" href="#">Examination</a>
                       </li>
                   </ul>
                 </div>
               </nav>
    
            
        </header>
    <!-- end of navbar -->


   <!-- start of blog section -->
   <section id="Blog">
       <!-- overlay_section -->
    <div class="blog_header blog_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="overlay_text">
                        <h3>BLOG SECTION</h3>
                        <a href="NewBlog.html">
                            <button class="btn blog_btn"> <i class="fa fa-rss"></i>Write a new blog</button>
                        </a>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- first Blog post -->
    <div class="container mb-4">
        <div class="row blog_row mb-5" data-aos="zoom-in-up" data-aos-duration="1500">
            <div class="col-md-7 para_section">
                <div class="blog_details">
                    <div class="blog_title">
                        <a href="">Top 9 New Technology Trends for 2021</a>
                    </div>
                    <div class="blog_content" style="word-wrap: break-word;">
                        <p class="para">
                          Technology today is evolving at such a rapid pace, 
                          enabling faster change and progress, causing an acceleration
                           of the rate of change, until eventually, it will become exponential. 
                           However, it is not only technology trends and top technologies that 
                           are evolving, a lot more has changed this year due to the outbreak 
                           of COVID-19 making IT professionals....
                        </p>
                    </div>
                    <ul class="blog_writer_details">
                        <li class="writer">
                            <div class="user_image">
                                <img src="../assets/kisan.jpg" alt="first_user">
                            </div>
                            <p class="name">Kisan Basyal</p>
                        </li>
                        <li class="date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <p class="day">May 27 ,2021</p>
                        </li>
                        <li class="button">
                            <a href="ReadMore.html"><button class="btn btn-primary">Read Blog</button></a>
                        </li>
                        <li class="line"></li>
    
                    </ul>
                </div>
            </div>
            <div class="col-md-1 mid-line">
            </div>
            <div class="col-md-4" style="padding-right: 0%!important; display:flex; align-items:center;">
                <div class="blog_image">
                    <img src="../assets/blog_first.jpg" alt="1">
                </div>
            </div>
        </div>
        <!-- second blog post -->

        <div class="row blog_row mb-5" data-aos="zoom-in-up" data-aos-duration="1500">
            <div class="col-md-7 para_section">
                <div class="blog_details">
                    <div class="blog_title">
                        <a href="">Windows 11: The Beginning of a New PC Age</a>
                    </div>
                    <div class="blog_content" style="word-wrap: break-word;">
                        <p class="para">
                          Windows 11 shows a massive change in focus from earlier 
                          significant releases, which pretty much assures that 
                          the Windows Vista and Windows 8 mistakes won't be repeated, 
                          at least not under the current leadership.
                        </p>
                    </div>
                    <ul class="blog_writer_details">
                        <li class="writer">
                            <div class="user_image">
                                <img src="../assets/kisan.jpg" alt="first_user">
                            </div>
                            <p class="name">Darsan Sharma</p>
                        </li>
                        <li class="date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <p class="day">June 27 ,2021</p>
                        </li>
                        <li class="button">
                            <a href="Second_Blog.html"><button id="btn2" class="btn btn-primary">Read Blog</button></a>
                        </li>
                        <li class="line"></li>
    
                    </ul>
                </div>
            </div>
            <div class="col-md-1 mid-line">
            </div>
            <div class="col-md-4" style="padding-right: 0%!important; display:flex; align-items:center;">
                <div class="blog_image">
                    <img src="../assets/windows11.jpg" alt="1">
                </div>
            </div>
        </div>
    
    </div>

    <!-- pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

   </section>
  









    <!-- start of footter -->
  
    <footer >
        <div class="foot-section">
        <div class="container-fluid">
          <div class="row">
            <!-- for logo column -->
            <div class=" col-lg-4 col-md-6  first-col">
              <div class="foot-logo">
                <img src="../assets/logo.png" alt="logo">
              </div>
    
              <p class="foot-description">We are Open platform for the learners to learn
                and trainers to transfer their learning to learners
                are the group of Young people uniting all the
                IT students and professionals under the same
                roof for the technological revolutions.</p>
                <div class="social-icon">
                  <i class="fab fa-facebook-square"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-github-square"></i>
                  <i class="fab fa-linkedin"></i>
                </div>
    
            </div>
            <div class="col-lg-2 col-md-3 second-col text-justify">
              <h1>Services</h1>
    
              <ul class="services-link">
                <li><a href="#">Provathons</a> </li>
                <li><a href="#">Intership</a></li>
                <li><a href="#">Workshops</a></li>
                <li><a href="#">Entrance Preparation</a></li>
                <li><a href="#">Job Placements</a></li>
              </ul>
            </div>
    
            <div class="col-lg-2 col-md-3 second-col text-justify">
              <h1>Useful Links</h1>
    
              <ul class="services-link">
                <li><a href="#">About</a> </li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Posts</a></li>
                <li><a href="#">Notes</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Our Impact</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
    
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 our-location">
              <h1>Our Location</h1>
              <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.211503467195!2d83.4657135146652!3d27.71075528279049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399686f71446a4b1%3A0x712e7c86b3c8d75!2sButwal%20Multiple%20Campus!5e0!3m2!1sen!2snp!4v1624623063971!5m2!1sen!2snp" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
            </div>
          </div>
          </div>
        </div>
          <div class="copyright-section">
    
         
          <div class="row">
            <div class="col-md-12 ">
                <p>Copyright &copy; 2021 All rights reserved by CSIT ASSCOCIATION OF BMC</p>
            </div>
            </div>
        
            </div>
      
      </footer>
    <!-- end of footer -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</body>
</html>