<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CSIT ASSOCIATION OF BMC</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="NewBlog.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <!-- start of navbar -->
    <!-- end of navbar -->


    <div class="container">
      <div class="content_section">
        <form action="">
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
            <div id="div_id_title" class="form-group">
               <label for="id_title" class=" requiredField">
                       Title<span class="asteriskField">*</span> 
               </label>

                <div class="">
                 <input type="text" name="title" maxlength="100" class="textinput textInput form-control" required="" id="id_title">
                 </div> 
              </div>

                 <div class="widget_section mb-2">
                
                <img src="../assets/cdektor.png" alt="">
                 </div>

                 <div id="div_id_image" class="form-group"> <label for="id_image" class="">
                  Image
              </label> <div class=""> <input type="file" name="image" accept="image/*" class="clearablefileinput form-control-file" id="id_image"> </div> </div>


          </fieldset>
          <div class="form-group">
            <button class="btn" style="background-color: #213d97 !important; color: #fff !important" type="submit">Post</button>
        </div>



        </form>
      </div>
    

    </div>







    <!-- start of footter -->
    <!-- end of footer -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</body>
</html>