<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CSIT ASSOCIATION OF BMC</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="ReadMore.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <!-- start of navbar -->
    <!-- end of navbar -->


   <!-- start of blog section -->
   <section id="Blog">
       <!-- overlay_section -->
    <div class="blog_header blog_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="overlay_text">
                        <h3>BLOG DETAILS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="blog_details_container" style="word-wrap: break-word;">
            <div class="title_row">
                <div class="blog_title"><h1>Top 9 New Technology Trends for 2021</h1></div>
            </div>
            <div class="share-and-featured-image">
                <div class="featured-image">
                    <img src="../assets/blog_first.jpg">
                </div>
            </div>
            <div class="row" data-aos="zoom-in-up" data-aos-duration="3000" style="word-break: break-word; padding: 0px 50px;">
                <p class="para mt-5">
                    Technology today is evolving at such a rapid pace,
                     enabling faster change and progress, causing an acceleration
                      of the rate of change, until eventually, it will become 
                      exponential. However, it is not only technology trends
                       and top technologies that are evolving, a lot more ha
                        changed this year due to the outbreak of COVID-19
                         making IT professionals realize that their role 
                         will not stay the same in the contactless world tomorrow.
                          And an IT professional in 2020-21 will constantly be learning,
                           unlearning, and relearning (out of necessity if not desire).

                        What does this mean for you? It means staying current 
                        with new technology trends. And it means keeping your
                         eyes on the future to know which skills you’ll need 
                         to know to secure a safe job tomorrow and even learn
                          how to get there. All bows to the worldwide pandemic, 
                          most of the global IT population is sitting back, 
                          working from home. And if you wish to make the most 
                          of your time at home, here are the top 9 new technology 
                          trends you should watch for and make an attempt at in 2021,
                          and possibly secure one of the jobs that will be created by
                           these new technology trends.

                        Here is the list of the top 9 new and trending technologies:

                        Artificial Intelligence (AI) and Machine Learning
                        Robotic Process Automation (RPA)
                        Edge Computing
                        Quantum Computing
                        Virtual Reality and Augmented Reality
                        Blockchain
                        Internet of Things (IoT)
                        5G
                        Cyber Security
                  
                    

                    <p class="para mt-5" data-aos="zoom-in-up" data-aos-duration="3000">
                        1. Cyber Security<br/>
                        Cyber security might not seem like trending technology, 
                        given that it has been around for a while, but it is evolving
                         just as other technologies are. That’s in part because threats
                          are constantly new. The malevolent hackers who are trying to
                           illegally access data are not going to give up any time soon,
                            and they will continue to find ways to get through even the
                             toughest security measures. It’s also in part because new
                              technology is being adapted to enhance security. As long 
                              as we have hackers, cybersecurity will remain a trending
                               technology because it will constantly evolve to defend
                                against those hackers.
                        
                        As proof of the strong need for cybersecurity professionals,
                         the number of cybersecurity jobs is growing three times faster 
                          other tech jobs. Also, the need for proper cybersecurity is so
                           high that by 2021, $6 trillion will be spent globally on 
                           cybersecurity.
                           <br/>
                        
                        You must note that however challenging the field is it also offers
                         lucrative six-figure incomes, and roles can range from    <br/>
                        
                        Ethical Hacker     <br/>
                        Malware Analyst    <br/>
                        Security Engineer    <br/> 
                        Chief Security Officer    <br/>
                        offering a promising career path for someone who wants to get
                         into and stick with this evergreen trending technology.
                     
                    </p>
                    
                </p>

              
        </div>
        <ul class="blog_writer_details">
            <li class="writer">
                <div class="user_image">
                    <img src="../assets/kisan.jpg" alt="first_user">
                </div>
                <p class="name">Darsan Sharma</p>
            </li>
            <li class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <p class="day">June 27 ,2021</p>
            </li>
        
        

        </ul>
        <ul>
            <div class="container mt-3">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-12">
                        <div class="d-flex flex-column">
                            <div class="p-2">

                                <div class="mt-2 ml-2 edit_del text-left"><button class="btn  btn-sm shadow-none post_btn" data-aos="fade-left" data-aos-duration="1500" type="button">Edit</button><button class="btn  btn-sm ml-3 shadow-none cancel_btn" type="button">Delete</button></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        </div>

    </div>

    <div class="comment">
        <span>
            <span class="no_of_comment">0 Comments</span>
        </span>
    </div>
    <!-- commentor section -->
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="d-flex flex-column comment-section">
                    <div class="p-1">
                        <div class="d-flex flex-row align-items-start"><img class="square mr-4" src="../assets/kisan.jpg" width="50" height="60"><textarea class="form-control ml-1 shadow-none textarea">Write a Comment...</textarea></div>
                        <div class="mt-2 text-right"><button class="btn  btn-sm shadow-none post_btn" type="button">Post comment</button><button class="btn  btn-sm ml-1 shadow-none cancel_btn" type="button" >Cancel</button></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
  


 

   </section>
  









    <!-- start of footter -->
    <!-- end of footer -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</body>
</html>