<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CSIT ASSOCIATION OF BMC</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="ReadMore.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <!-- start of navbar -->
    <!-- end of navbar -->


   <!-- start of blog section -->
   <section id="Blog">
       <!-- overlay_section -->
    <div class="blog_header blog_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="overlay_text">
                        <h3>BLOG DETAILS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="blog_details_container" style="word-wrap: break-word;">
            <div class="title_row">
                <div class="blog_title"><h1>What It Takes to Give a Great Presentation</h1></div>
            </div>
            <div class="share-and-featured-image">
                <div class="featured-image">
                    <img src="../assets/bcg.jpg">
                </div>
            </div>
            <div class="row" data-aos="zoom-in-up" data-aos-duration="3000" style="word-break: break-word; padding: 0px 50px;">
                <p class="para mt-5">Summary: Never underestimate the power of great communication. It can help youland the
                    job ofyour dreams, attract investors to back your idea, or elevate your stature within your
                    organization. But while there are plenty of good speakers in the world, you can set yourself
                    apart out by being the
                    
                    Summary: Never underestimate the power of great communication. It can help youland the
                    job ofyour dreams, attract investors to back your idea, or elevate your stature within your
                    organization. But while there are plenty of good speakers in the world, you can set yourself
                    apart out by being the p…
                    Summary: Never underestimate the power of great communication. It can help youland the
                    job ofyour dreams, attract investors to back your idea, or elevate your stature within your
                    organization. But while there are plenty of good speakers in the world, you can set yourself
                    apart out by being the 
                    <p class="para mt-5">
                        Raspberry Pi: History:                                                                                                                                                                               In 2012, the team started its first production run consisted of 10,000 Raspberry Pi units manufactured by foundries in China and Taiwan.

                        Unfortunately, there was a manufacturing issue where the ethernet jack on the

                        Raspberry Pi. This incident caused some minor shipping delays.

                        Model B: In April 2012, the original Raspberry Pi, also known as the model B, was launched.

                        It offered an ARMv6 700 MHz single-core processor, a VideoCore IV GPU, and 512MB of RAM, all packed in a credit card size board.

                        Model B supported 26-pin GPIO and an SD card slot for loading the operating system. Priced at $35 per unit.
                                            </p>
                    <div class="share-and-featured-image">
                        <div class="featured-image">
                            <img src="../assets/bcg2.jpg">
                        </div>
                    </div>
                    

                    <p class="para mt-5" data-aos="zoom-in-up" data-aos-duration="3000">Summary: Never underestimate the power of great communication. It can help youland the
                        job ofyour dreams, attract investors to back your idea, or elevate your stature within your
                        organization. But while there are plenty of good speakers in the world, you can set yourself
                        apart out by being the p…
                        Summary: Never underestimate the power of great communication. It can help youland the
                        job ofyour dreams, attract investors to back your idea, or elevate your stature within your
                        organization. But while there are plenty of good speakers in the world, you can set yourself
                        apart out by being the p…
                        Summary: Never underestimate the power of great communication. It can help youland the
                        job ofyour dreams, attract investors to back your idea, or elevate your stature within your
                        organization. But while there are plenty of good speakers in the world, you can set yourself
                        apart out by being the p…
                        <p class="para mt-5" data-aos="zoom-in-up" data-aos-duration="3000">
                            Raspberry Pi: History:                                                                                                                                                                               In 2012, the team started its first production run consisted of 10,000 Raspberry Pi units manufactured by foundries in China and Taiwan.
    
                            Unfortunately, there was a manufacturing issue where the ethernet jack on the
    
                            Raspberry Pi. This incident caused some minor shipping delays.
    
                            Model B: In April 2012, the original Raspberry Pi, also known as the model B, was launched.
    
                            It offered an ARMv6 700 MHz single-core processor, a VideoCore IV GPU, and 512MB of RAM, all packed in a credit card size board.
    
                            Model B supported 26-pin GPIO and an SD card slot for loading the operating system. Priced at $35 per unit.
                                                </p>
                    </p>
                    
                </p>

              
        </div>
        <ul class="blog_writer_details">
            <li class="writer">
                <div class="user_image">
                    <img src="../assets/kisan.jpg" alt="first_user">
                </div>
                <p class="name">Darsan Sharma</p>
            </li>
            <li class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <p class="day">June 27 ,2021</p>
            </li>
        
        

        </ul>
        <ul>
            <div class="container mt-3">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-12">
                        <div class="d-flex flex-column">
                            <div class="p-2">

                                <div class="mt-2 ml-2 edit_del text-left"><button class="btn  btn-sm shadow-none post_btn" data-aos="fade-left" data-aos-duration="1500" type="button">Edit</button><button class="btn  btn-sm ml-3 shadow-none cancel_btn" type="button">Delete</button></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        </div>

    </div>

    <div class="comment">
        <span>
            <span class="no_of_comment">0 Comments</span>
        </span>
    </div>
    <!-- commentor section -->
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="d-flex flex-column comment-section">
                    <div class="p-1">
                        <div class="d-flex flex-row align-items-start"><img class="square mr-4" src="../assets/kisan.jpg" width="50" height="60"><textarea class="form-control ml-1 shadow-none textarea">Write a Comment...</textarea></div>
                        <div class="mt-2 text-right"><button class="btn  btn-sm shadow-none post_btn" type="button">Post comment</button><button class="btn  btn-sm ml-1 shadow-none cancel_btn" type="button" >Cancel</button></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
  


 

   </section>
  









    <!-- start of footter -->
    <!-- end of footer -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</body>
</html>