<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CSIT ASSOCIATION OF BMC</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="ReadMore.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <!-- start of navbar -->
    <!-- end of navbar -->


   <!-- start of blog section -->
   <section id="Blog">
       <!-- overlay_section -->
    <div class="blog_header blog_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="overlay_text">
                        <h3>BLOG DETAILS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="blog_details_container" style="word-wrap: break-word;">
            <div class="title_row">
                <div class="blog_title"><h1>Windows 11: The Beginning of a New PC Age</h1></div>
            </div>
            <div class="share-and-featured-image">
                <div class="featured-image">
                    <img src="../assets/windows11.jpg">
                </div>
            </div>
            <div class="row" data-aos="zoom-in-up" data-aos-duration="3000" style="word-break: break-word; padding: 0px 50px;">
                <p class="para mt-5">
                    Windows 11 is finally official, with a new look and much more after being 
                    unveiled at Microsoft's big event on June 24.

                    Showcasing the Fluent design language and more, 
                    the new upgrade can also be tried out on the Insider
                     channels, ready to download and use on machines that 
                     meet the minimum requirements.
                    
                    There is also a huge redesign of the Microsoft Store,
                     allowing Android apps from the Amazon App Store to be used,
                      so you can download TikTok and other apps if you wish.
                    
                    Plenty of discoveries are still being made with the updated 
                    Insider build and from what Microsoft are confirming with other
                     vendors and users, but we're making sure that we're updating this
                      page with everything that's been confirmed so far.
                                        

                    

                    <p class="para mt-5" data-aos="zoom-in-up" data-aos-duration="3000">
                        How to download Windows 11?<br>
                        Microsoft have updated the Insider build, named 22000.65 (KB5004745) for Windows
                         Insiders on the developer or beta channel, we have a handy guide all about how
                          to download Windows 11.<br>
                          
                        
                        The build is now widely available on the beta channel, showcasing more
                         refinements across the board, including the Microsoft Store.
                        
                        Before you do though, the best point of call would be to make
                         sure that your PC is enrolled for Microsoft's Insider Program 
                         first, as long as it meets the requirements.
                        
                        But do be aware, we advise to only run it on a PC that's 
                        not your main machine, as there are plenty of small issues for now.
                        
                        Windows 11 update showing as available<br>
                        
                        
                        In the meantime, vendors such as Lenovo have released some guidance
                         to other users who have machines running Windows 7 and above,
                          that it may be a free upgrade, but with a caveat.<br>
                        
                        There's even an option to downgrade to Windows 10 if you are
                         experiencing issues with Windows 11. This is available in
                          the current Insider builds, but you can only do it within
                          
                          10 days of upgrading your machine, otherwise a clean install
                           has to be done in order to go to Windows 10.<br>
                
  
                        Minimum Specifications<br>

                        There's been a lot of discussion as to which devices are
                         eligible for Windows 11. Regardless of the TPM requirement,
                          others are simply wondering if they need to look to upgrade 
                          their PC or laptop soon.
                        
                        For now, Microsoft have published the requirements for the update,
                        but they are subject to change as we near release and the company
                         take feedback on board.<br>
                        
                        Processor: 1 gigahertz (GHz) or faster with at least two cores on a compatible 64-bit processor or SoC<br>

                        RAM: 4GB<br>
                        Storage: 64GB<br>
                        System Firmware: UEFI, Secure Boot capable<br>
                        TPM: Trusted Platform Module 2.0<br>
                        Graphics Card: DirectX 12 or later with WDDM 2.0 driver<br>
                        Display: 720p, 8-bit per color channel, at least 9-inch diagonal<br>
                        Internet Connection and Microsoft Account: Windows 11 Home requires an active internet connection and a Microsoft Account to complete initial, first-use setup of the operating system, or when switching a device out of Windows 11 Home in S-mode.
                    </p>
                    
                </p>

              
        </div>
        <ul class="blog_writer_details">
            <li class="writer">
                <div class="user_image">
                    <img src="../assets/kisan.jpg" alt="first_user">
                </div>
                <p class="name">Darsan Sharma</p>
            </li>
            <li class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <p class="day">June 27 ,2021</p>
            </li>
        
        

        </ul>
        <ul>
            <div class="container mt-3">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-12">
                        <div class="d-flex flex-column">
                            <div class="p-2">

                                <div class="mt-2 ml-2 edit_del text-left"><button class="btn  btn-sm shadow-none post_btn" data-aos="fade-left" data-aos-duration="1500" type="button">Edit</button><button class="btn  btn-sm ml-3 shadow-none cancel_btn" type="button">Delete</button></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        </div>

    </div>

    <div class="comment">
        <span>
            <span class="no_of_comment">0 Comments</span>
        </span>
    </div>
    <!-- commentor section -->
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="d-flex flex-column comment-section">
                    <div class="p-1">
                        <div class="d-flex flex-row align-items-start"><img class="square mr-4" src="../assets/kisan.jpg" width="50" height="60"><textarea class="form-control ml-1 shadow-none textarea">Write a Comment...</textarea></div>
                        <div class="mt-2 text-right"><button class="btn  btn-sm shadow-none post_btn" type="button">Post comment</button><button class="btn  btn-sm ml-1 shadow-none cancel_btn" type="button" >Cancel</button></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
  


 

   </section>
  









    <!-- start of footter -->
    <!-- end of footer -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</body>
</html>