{%extends 'dashboard/base.html' %}

{%block content%}

            <!-- page content -->
            <div class="right_col" role="main">

<!-- Events table -->
<h2>Events</h2>
<button type="button" class="btn btn-success btn-sm">Create an event</button>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Venue</th>
            <th scope="col">Description</th>
            <th scope="col">Date Time</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Presentation Training</th>
            <td>Google Meet</td>
            <td>hgmfgmhnfgbnfgbngbdfvvbdffngbfgbvdcbfbfgkbnbvbgbvvxbgbbx</td>
            <td>2021,August 24</td>
            <td>

                <button class="btn btn-secondary btn-sm">Update</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">Presentation Training</th>
            <td>Google Meet</td>
            <td>hgmfgmhnfgbnfgbngbdfvvbdffngbfgbvdcbfbfgkbnbvbgbvvxbgbbx</td>
            <td>2021,August 24</td>
            <td>

                <button class="btn btn-secondary btn-sm">Update</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">Presentation Training</th>
            <td>Google Meet</td>
            <td>hgmfgmhnfgbnfgbngbdfvvbdffngbfgbvdcbfbfgkbnbvbgbvvxbgbbx</td>
            <td>2021,August 24</td>
            <td>

                <button class="btn btn-secondary btn-sm">Update</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
    </tbody>
</table><br>





            </div>

        </div>
    </div>
    </div>
    <!-- /page content -->
{%endblock%}