@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Unna&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
  font-family: "Philosopher";
}
.border-bottom {
  font-size: 3rem;
  font-weight: 600;
}
.requiredField,
.asteriskField {
  font-size: 2.5rem;
}
.title_input input {
  height: 40px !important;
  margin-bottom: 3rem;
}
.textarea {
  font-size: 2rem;
  margin-bottom: 2rem;
  height: 30vh;
}
#div_id_image label {
  font-size: 2rem;
}
.btn {
  font-size: 2.2rem;
  width: 150px;
  padding: 5px;
}
