@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Unna&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
}

.blog_header {
  background-size: cover;
  background-position: center center;
  padding: 148px 0px;
  background-repeat: no-repeat;
  background-image: url("./assets/bcg.jpg");
  overflow-x: hidden;
  width: 100%;
  font-family: "Philosopher", "sans-serif";
}

.blog_overlay {
  position: relative;
  z-index: 0;
}
.overlay_text h3 {
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: capitalize;
}
.blog_overlay::before {
  position: absolute;
  content: "";
  background: -moz-linear-gradient(
    left,
    #213d97 0%,
    #213d97 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    #213d97 0%,
    #213d97 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  background: linear-gradient(
    to right,
    #213d97 0%,
    #213d97 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213d97', endColorstr='#007db9e8',GradientType=1 );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}
.blog_title {
  color: #213d97;
  font-weight: bolder;
  font-size: 160%;
  margin: 24px 12px;
}
.blog_title a {
  color: #213d97;
  font-weight: bolder;
  font-size: 160%;
}
.blog_title a:hover {
  text-decoration: none;
}
.blog_content {
  margin: 24px 12px;
  color: black;
  font-weight: 400;
}
.blog_writer_details {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 50px;
}
.para {
  font-size: 15px;
  font-weight: 600;
}
p {
}
.para_section {
  margin-left: 3.2rem;
  font-family: "Philosopher", "sans-serif";
}

.writer {
  list-style: none;
  margin-right: 5px;
  list-style-type: none;
}
.fa {
  font-size: 20px !important;
  color: #213d97;
}
.name {
  margin-top: -38px !important;
  margin-left: 50px !important;
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}
.day {
  font-size: 12px;
}
.user_image {
  height: 40px;
  width: 40px;
}
.user_image img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-top: -10px;
}

.day {
  margin-left: 25px;
  font-weight: bold;
  margin-top: -20px !important;
}
.btn {
  margin-left: 70px;
  margin-top: -15px;
  background-color: #213d97 !important;
  outline: none;
  border: none !important;
  font-size: 2rem;
}
.btn:hover {
  background-color: #ce4445 !important;
}
.blog_btn:hover {
  color: #fff;
}
.btn2 {
  margin-left: 40px !important;
}

.blog_image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  cursor: pointer;
}
.button {
  margin-left: 20rem;
  font-size: 15px;
}
.blog_image img {
  width: 100%;
  height: 100%;
  transition: 0.6578s all;
  margin-left: 30px;
}
.blog_image img:hover {
  transform: scale(1.4);
}
.blog_writer_details {
  margin-left: 10px;
}

.blog_row {
  padding: 0 !important;
  background: #f3f3f3;
  margin-top: 24px;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.56789s all;
  overflow: hidden;
}

.mid-line {
  border-right: 3px solid #52a0c9;
  width: 1px;
  margin-left: -80px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.write_new_blog i {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  margin-right: 20px;
  margin-top: 25px;
  font-size: 30px !important;
}

@media screen and (max-width: 1300px) {
  .blog_row {
    flex-direction: row-reverse;
    flex-wrap: nowrap !important;
  }
  .blog_image img {
    margin-left: -30px;
  }
  .para_section {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .button {
    margin-left: -10px;
  }
}

@media screen and (max-width: 768px) {
  .blog_row {
    flex-direction: column-reverse;
  }
  .blog_image {
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 415px) {
  .button {
    margin-left: -300px !important;
    margin-top: 60px;
  }
  #btn2 {
    margin-left: 60px !important;
  }
  .para_section {
    margin-left: 0 !important;
    margin-top: -15px;
  }
}
.btn2 {
  margin-left: 15px;
}

.blog_btn {
  background-color: #fff !important;
  margin-left: 0px;
  padding-bottom: 8px;
  border-radius: 2px;
  font-size: 17px;
  margin-top: 1.6rem;
}
.fa-rss {
  margin-right: 5px;
}

.page-link {
  border: none;
}
.pagination {
  margin-left: 90px;
  margin-bottom: 30px;
}
.page-link {
  font-size: 2rem;
}
.page-link span {
  font-size: 2rem;
}
.page-link:hover {
  background-color: #213d97;
  color: #fff;
}
