@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Teko&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Chewy", cursive;
  /* font-family: "Teko", sans-serif; */
  margin: 20px 0;
  font-size: 1rem;
  /* font-size: 18px; */
  letter-spacing: 1px;
  font-weight: 500;
  color: #3498db;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 2px 5px;
  border: none;
  border-bottom: 1px solid #ff7675;
  border-radius: 0;
}

.form-group input:focus {
  outline: none;
}

.form-group label {
  color: #636e72;
  font-size: 15px;
  margin: 0;
}

select {
  cursor: pointer;
  outline: none;
}
span {
  font-size: small;
}

span.error {
  color: red;
}

span.success {
  color: green;
}

input.success {
  border-bottom: 1px solid green;
}

input.error {
  border-bottom: 1px solid red;
}

.btn {
  letter-spacing: 1px;
}

.rollNo {
  width: 20px;
}

.select {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 500px) {
 
  .wrap {
    padding: 8px;
  }

  input#rollno{
    width: 200px;
    margin-right: 5px;
  }
  .select {
    gap: 2px;
  }
  .form-group input,
  .custom-file,
  .btn {
    width: 300px;
  }

 .form-group label{
   width: 150px;
 }

  .title {
    font-size: 16px;
    text-align: center;
  }

  label {
    font-size: small;
  }
  .custom-select {
    width: 90px;
  }

  form {
    display: grid;
    place-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .small-container{
  width: 400px;
  }

  .select select{
   margin-left: 0;
  }

  .batch-select{
    width: 150px;
    margin-left: 4rem;
  }
 input#rollno{
   margin:0;
 }

 .form-group label{
   width: 150px;
 }
  .form-group input {
    width: 400px;
  }
  .custom-file,
  .btn {
    width: 400px;
  } 
}


