
{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Form Create{% endblock title %}

{% block content %}
        <form method="POST" action="." enctype="multipart/form-data" >{% csrf_token %}
            <div>{{ form.title.label }} {{ form.title }}</div>
            <div>{{ form.semester.label }} {{ form.semester }}</div>
            <div>{{ form.subject.label }} {{form.subject }}</div>
            <div>{{ form.description.label }} {{ form.description }}</div>
            <div>{{ form.file.label }} {{ form.file }}</div>
        <input type="submit" value="submit" />
        </form>
{% endblock content %}


