@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Teko&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
}
.wrap{
  font-size: 1.6rem;
  margin: 3rem auto;
}
.card{
  box-shadow: 0 0.2px 5px rgba(0,0,0,0.3);
  border-radius: 1rem;
  
}
.card-header,
.card-body{
  padding: 2rem;
}

.title {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: #3498db;
}



.form-group input {
  display: block;
  width: 100%;
  padding: 2px 5px;
  border: none;
  border-bottom: 1px solid #ff7675;
  border-radius: 0;
}

.form-group input:focus {
  outline: none;
}

.form-group label {
  color: #636e72;
  font-size: 15px;
  margin: 0;
}

select {
  cursor: pointer;
  outline: none;
}
span {
  font-size: small;
}

span.error {
  color: red;
}

span.success {
  color: green;
}

input.success {
  border-bottom: 1px solid green;
}

input.error {
  border-bottom: 1px solid red;
}

.btn {
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.rollNo {
  width: 20px;
}

.select {
  display: flex;
  gap: 2rem;
}
.info_id_photo{
  font-size: 1.3rem;
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .rollNo {
    background-color: #3498db;
    width: 10px;
  }
  .select {
    gap: 2px;
  }
  
  .title {
    font-size: 16px;
    text-align: center;
  }

  label {
    font-size: small;
  }
  .custom-select {
    width: 90px;
  }

}
