{%extends 'base.html'%}
{%load static%}

{%block head%}
<!--------------bootstrap css--------------->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!---------------------fontAwesome--------------------->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!-------------------Aos fade animation---------------->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'event/eventstyle.css' %}" >
{%endblock%}


{%block title%}Events{%endblock%}

{%block content%}
<!-------------------------------Main body Event content------------------------------------>
    <div class="parent__container">

        <!---------------header--------------->
        <header class="events__header">
            <div class="header__container">
                <strong data-aos="zoom-in" data-aos-duration="1500">EVENTS@BMC</strong>
                <p data-aos="zoom-in" data-aos-duration="1500">Events and important dates from across campus</p>
                
                <!---------------------------Event Filter large width----->
                <div class="container">
                    <div class="filter_btn_container" id="filter_btn_container_frst">
                        <input type="button" data-id="upcoming" class="events_filter_btn filter_btn_visited" value="Upcoming Events" />
                        <input type="button" data-id="prev" class="events_filter_btn" value="Previous Events" />
                    </div>
                </div>
            </div>
        </header>
        

        <!-------------------------------Main section ------------------->
        <main class="main_parent_container">
            <div class="container">
                <div class="filter_date_container">

                    <!---------------------------EVent Filter small width ------------------------>
                    <div class="event_filter_here">
                        Filter Events  <i style="color: white; margin-left: 0.8rem;" class="fas fa-sort"></i>
                        <ul class="filter_btn_container1" id="filter_btn_container_sec">
                            <li>
                                <input type="button" data-id="upcoming1" class="events_filter_btn filter_btn_visited" value="Upcoming Events" aria-selected="true">
                            </li>
                            <li>
                                <input type="button" data-id="prev1" class="events_filter_btn" value="Previous Events">
                            </li>
                        </ul>
                    </div>
                    
                    <!---------------Filter container----------------->
                    <article class="filter_date_name filter_content_visited" id="upcoming">
                        <strong><strong>Upcoming</strong> Events</strong>
                    </article> 
                    <article  class="filter_date_name" id="prev">
                        <strong><strong>Previous</strong> Events</strong>
                    </article>                  
                </div>

                <!-----------------------------------event Detailes---------------------->
                <div class="events_content_container">
                    <!-----------------------------upcoming events--------------->
                    <div class="filter_content filter_content_visited"  id="upcomingContent">

                        <!-- Event Section -->
                        <div class="item__flex">
                            {%for upcoming_event in upcoming_events%}
                                <article class="common__article" >  
                                    <div class="events__img">
                                        <img src="{{upcoming_event.image.url}}" alt="img" />
                                    </div>
                                    <strong>
                                        <a href="#">{{upcoming_event.title}}</a>
                                    </strong>
                                    <div class="common_article_margin">
                                        <i style="color: white;" class="far fa-calendar-alt"></i> 
                                        <time>{{upcoming_event.date}}</time>
                                    </div>
                                    <p>
                                        <strong>Venue:</strong> {{upcoming_event.venue}}
                                    </p>                         
                                </article>
                            {%endfor%}
                            
                        </div>
                    </div>

                    <!------------------Previous events--------------------->
                    <div class="filter_content"  id="prevContent">
                        <div class="item__flex">
                            
                            {%for past_event in past_events%}
                                <article class="common__article" >
                                    <div class="events__img">
                                        <img src="{{past_event.image.url}}" alt="img" />
                                    </div>
                                    <strong>
                                        <a href="{{past_event.get_absolute_url}}">{{past_event.title}}</a>
                                    </strong>
                                    <div class="common_article_margin">
                                        <i style="color: white;" class="far fa-calendar-alt"></i> 
                                        <time>{{past_event.date}}</time>
                                    </div>
                                    <p>
                                        <strong>Venue:</strong> 
                                        {{past_event.venue}}
                                    </p>
                                </article>
                            {%endfor%}
                                                            
                        </div>
                    </div>
                </div>
                
                <!-----------------------------last bar view all events----------->
                <div class="view_all_events_bottom_bar">
                    <i style="color: white; font-size: 1.6rem;" class="far fa-calendar-alt"></i> 
                    <strong> All Upcoming Events</strong>
                    <span><i class="fas fa-external-link-alt"></i></span>
                </div>
            </div>
        </main>
    </div>


   

    
    
{%endblock%}

{%block scripts%}
 <!-----------------vanilla js------------->
    <script src="{%static 'event/eventcontrol.js' %}"></script>

 <!-----------------jquery, popper.js, bootstrap.js------------>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"     integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"     integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

 <script>
     AOS.init();
 </script>
{%endblock %}