{%extends 'base.html' %}
{%load static%}

{%block head%}
<link rel="stylesheet" href="{%static 'about/style.css' %}">
<title>About | CSIT Associatioin of BMC</title>
{%endblock%}


{%block content%}
<div class="container-fluid">
    <header class="about-header">
        <div class="overlay"></div>
        <h1>About Us</h1>
    </header>

    <div class="container mt-5">
        <section class="intro mb-5">
            <div class="intro-text">
                <div><h2 class='bottom__line__first'>Who We Are?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi ipsa modi dolor
                        deleniti, iste ad
                        beatae molestias ut nostrum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore
                        animi ipsam a
                        cupiditate asperiores optio, itaque possimus sit! Aliquam, vitae.
                    </p>
                </div>
                <div>
                    <h2 class="bottom__line">What We Do?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi ipsa modi dolor
                        deleniti, iste ad
                        beatae
                        molestias ut nostrum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore animi
                        ipsam a
                        cupiditate asperiores optio, itaque possimus sit! Aliquam, vitae.
                    </p>
                </div>
            </div>
            <div class="intro-image">
                <img src="{%static 'about/imgs/ion-sipilov-f5j-a8M1KEw-unsplash.jpg' %}" class="img-fluid" alt="">
            </div>
        </section>

        <section class="team mb-5">
            <h2 class="mb-5 meet_title">Meet Our Team</h2>
            <div class="members">

            {%for member in members%}
                <div class="member mt-3">
                    <div class="image">
                        <img src="{{member.profile.image.url}}" alt="fahsljdfa"/>
                    </div>
                    <h2 class="mt-5">{{member.profile.name}}</h2>
                    <p>{{member.position}}</p>
                    <div class="social-icons">
                        <a href="{{member.facebook_url}}"> <i class="fab fa-facebook"></i></a>
                        <a href="{{member.instagram_url}}"><i class="fab fa-instagram"></i></a>
                        <a href="{{memeber.github_url}}"> <i class="fab fa-github"></i></a>
                        <a href="{{member.linkdin_url}}"> <i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                {%endfor%}


            </div>
        </section>
    </div>
</div>

{%endblock%}