@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Unna&display=swap');

:root{
    --colorRed: red;
    --colorDenseBlue: darkBlue;
    --colorWhite: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}
body,html{
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.notes__display__root__container{
    background-color: #d3d3d3;
}

.notes__display__header{
    width: 100%;
    height: 28.8rem;
    padding-top: 3.2;
    background-image: url("../img/464143.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0.45);
    -webkit-filter: brightness(0.45);
    font-size: 2rem;
    color: var(--colorWhite);

}
.notes__display__header__container{
    color: var(--colorWhite);
    margin-top: -22.4rem;
    margin-left: 12.48rem;

}
.notes__display__header__container > strong{
    font-size: 4.8rem;
    display: inline-block;
}
.notes__display__header__container > .notes__display__form  input:first-child{
    height: 4.48rem;
    font-size: 2rem;
    padding-left: 1.6rem;
    border: none;
    outline: none;
    border-radius: 0.96rem;
    margin-top: 1.6rem;
    width: 36.64rem;

}

.notes__display__header__container > .notes__display__form  input:first-child::placeholder{
    opacity: 1;
}

.notes__display__header__container > .notes__display__form input:first-child:focus,
.notes__display__header__container > .notes__display__form  input:first-child:active{
    background-color: rgb(211, 208, 208);
}

.notes__display__header__container > .notes__display__form select{
    height: 4rem;
    font-size: 1.92rem;
    padding-left: 1.6rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1.6rem;
    border-radius: 0.64rem;
    max-width: 32rem;
    padding: 0.64rem;

}
/*  */
.notes__display__header__container > .notes__display__form select:nth-child(2){
    margin-left: 0.8rem;
}

.notes__display__header__container > .notes__display__form > .note__filter__input__container  input{
    height: 4rem;
    padding: 0.64rem;
    border-radius: 0.64rem;
    border: none;
    outline: none;
    cursor: pointer;
    width: 8rem;
    background-color: var(--colorRed);
    color: var(--colorWhite);
    margin-left: 0.8rem;
    transition: all 400ms ease-in-out;
}
.notes__display__header__container > .notes__display__form > .note__filter__input__container  input:hover{
    transform: scale(1.1);
    box-shadow: 0 1px 10px rgba(250, 248, 248, 0.3);
    background-color: rgb(247, 82, 82);
    color: rgb(243, 237, 237);
}

@media screen and (max-width:830px) {
    .notes__display__header__container{
        margin-left: 3.2rem;

    }
}



@media screen and (max-width: 616.5px) {
    .notes__display__header__container > .notes__display__form > .note__filter__input__container  input{
        margin-top: 1.28rem;
    }
    .notes__display__header{
        height: 40rem;
        padding-top: 0;
    }
    .notes__display__header__container{
        max-height: 40rem;
    }
}

@media screen and (max-width: 561px) and (min-width:370px){
    .notes__display__header__container > .notes__display__form select{
       max-width: 16rem;
    }
}
@media screen and (max-width: 523.5px) {
    .notes__display__header__container > .notes__display__form select:nth-child(2){
        margin-left: 0;
    }
}
@media screen and (max-width: 420.5px) {
    .notes__display__header__container > .notes__display__form > .note__filter__input__container  input{
        margin-left: 0;
    }
    .notes__display__header__container > .notes__display__form input:first-child{
         width: 32rem;
    }
    .notes__display__header__container > .notes__display__form select{
        font-size: 1.6rem;
    }
    .notes__display__header__container{
        margin-left: 1.6rem;

    }
}

@media screen and (max-width: 361.5px) {
    .notes__display__header__container{
        margin-top: -32rem;
    }
    .notes__display__header__container > strong{
        font-size: 3.68rem;
    }
    .notes__display__header__container > .notes__display__form select{
        font-size: 1.6rem;
        width: 24rem;
        height: 3.2rem;
    }
    .notes__display__header__container > .notes__display__form input:first-child{
        font-size: 1.6rem;
        width: 24rem;
        height: 3.2rem;
    }
}

@media screen and (max-width: 338px) {
    .notes__display__header{
        height: 32rem;
    }
    .notes__display__header__container{
        margin-top: -25.6rem;
    }

    .notes__display__form{
        margin-top: 4rem;
    }

}

@media screen and (max-width: 286px) {
    .notes__display__header__container > strong{
        font-size: 3.36rem;
    }
}



/******* notes whole body ***********/
.notes__display__header__container + .container{
    background-color: #d3d3d3;
    padding-top: 3.2rem;
}

.notes__here{
    background-color: #d3d3d3;
    padding: 0.8rem 0;
    display: grid;
    grid-column-gap: 2.4rem;
    grid-template-columns: 2.5fr 1.5fr;
}
.create__note__action > span{
    float: right;

}
.create__note__action > span::after{
    content: "";
    display: block;
    clear: both;
}
.individual__note__title > span{
    float: right;
}
.individual__note__container{
    background-color: white;
    padding: 1.6rem;
    margin-bottom: 1.6rem;

}

.individual__note__container > .individual__note__title > strong{
    font-size: 2.2rem;
}
.individual__note__container > .individual__note__title{
    margin-bottom: 0.16rem;
}
.individual__note__body > .author_note,
.individual__note__body > .author_note > strong,
.individual__note__body > .author_note > time{
    font-size: 1.6rem;
}
.individual__note__container > .individual__note__body button{
    padding: 0.48rem 0.8rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--colorDenseBlue);
    color: var(--colorWhite);
    border-radius: 0.32rem;

}
.individual__note__container > .individual__note__body button a{
    color: white;
    font-size: 1.6rem;
}
.note__display__title{
    font-size: 2.16rem;
}
@media screen and (max-width:370px) and (min-width: 335px) {
    .notes__display__header__container{
        margin-top: -25.6rem;
    }
    .notes__display__header__container + .container{
        padding-top: 4.8rem;

    }

}

/*********recent post *******************/
.notes__display__recent__post{
    background-color: white;
    padding: 2.24rem;
    max-height: 44.8rem;
}
.notes__display__description{
    margin: 0.32rem 0;
    padding: 0.64rem;
    font-size: 1.6rem;
}
.notes__display__recent__post > .notes__recent__post__header{
    font-weight: bold;
    font-size: 2.16rem;
}
.notes__display__recent__post > .notes__recent__post__body > ul{
    list-style: none;

}
.notes__recent__post__body > ul li{
    margin-bottom: 0.48rem;
}
.notes__recent__post__body > ul > li > a{
    color: var(--colorDenseBlue);
    font-size: 1.648rem;
}

@media screen and (max-width: 767px) {
    .notes__here{
        display: block;
    }
    .notes__display__recent__post{
        margin-top: 3.2rem;
    }
}
#note__input__semester, #note__input__subject{
    border: none;
    outline: none;
    height: 3.2rem;
    border-radius: 0.48rem;
    cursor: pointer;
    border: 0.16rem solid rgb(198, 198, 199);
    max-width: 16rem;
    margin-top: 0.32rem;
}
.create__note__action{
    margin-top: 3.6rem;
    font-size: 1.6rem;
}

.modal-dialog{
    padding-right: 1.28rem;
}
#noteCreateModal{
    width: 100% !important;
}
.modal-open{
    padding-right: 0px !important;
}
.modal-content{
    left: 2% !important;
}
.btn-primary{
    background-color: darkblue !important;
    border: none !important;
    outline: none !important;
}
.note__create__button{
    padding: 0.48rem 0.8rem;
    border: none;
    outline: none;
    background-color: var(--colorRed);
    color: white;
    border-radius: 0.32rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
.note__create__button:hover{
    transform: scale(1.05);
    box-shadow: 0 1px 10px rgba(0,0,0,0.25);
    outline: none;

}

/***************Edit and Delete Note here ******************/
.edit__note{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.25);
    position: fixed;
    z-index: 9999;
    top: 5%;
}
.editNotehere{
    display: none;
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 101vh;
    z-index: 9999;
    position: fixed !important;
    top: 0;
    font-size: 20px;

}

.modalContent{
    background-color: var(--colorWhite);
    padding: 3.4rem;
    width: 60% !important;
    margin: 3.2rem auto;
    border-radius: 0.32rem;
    overflow-x: hidden;

}
.form-group > label,
.form-group > input,
.form-group > textarea,
.form-group > select,
.form-group > div{
    font-size: 18px;
}
#fileName{
    font-size: 16px;
}

.deleteNoteHere > .modalContent{
    width: 40% !important;
    font-size: 20px;
}
.modal__title > strong{
    font-size: 20px;
}
.modal-footer > button ,
.modal-footer > input{
    font-size: 17px;
}
.note__filter__input__container{
    font-size: 18px;
}

@media screen and (max-width:870px) {
    .deleteNoteHere > .modalContent{
        width: 60% !important;
    }
}
@media screen and (max-width:665px) {
    .deleteNoteHere > .modalContent{
        width: 90% !important;
    }
}

.edit__close_btn{
    float: right;
    font-size: 3.2rem;
    cursor: pointer;

}

.modalContent > div:nth-child(1)::after{
    content: "";
    display: block;
    clear: both;
}
.modal-footer > button{
    transition: all 400ms ease;
}
.modal-footer > button:hover{
    transform: scale(1.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.596);
}
#note__edit__semester, #note__edit__subject{
    border: 0.19rem solid rgb(119, 118, 118);
    outline: none;
    padding: 0.48rem 0.16rem;
    border-radius: 0.32rem;
    margin-top: 0.32rem;
}

span > .edit-btn, span > .delete-btn{
    border: none;
    outline: none;
    background-color: transparent;
    transition: all 400ms ease-in-out;
}
span > .edit-btn:hover, span > .delete-btn:hover{
    transform: scale(1.2);

}
@media screen and (max-width:660px) {
    .modalContent{
        width: 95% !important;
    }
}
.deleteNoteHere{
    display: none;
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    min-height: 100vh;
    z-index: 9999999;
    top: 0;
    font-size: 20px;
    position: fixed !important;

}
.active{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* mobile height view */
@media screen and (max-height:610px) {
    .modalContent{
        overflow-y: scroll;
        max-height: 450px;

    }
}


.first__label > .first__span{
   font-size:15px;
   padding: 0.48rem 0.48rem;
   cursor:pointer;
   border-radius: 0.16rem;
   border: 0.16rem solid rgba(0,0,0,0.56);
}

.passive__edit__noteFile{
    display: none;
}
.active__edit__noteFile{
   display: block;
}