{%extends 'base.html'%}
{%load static%}

{%block head%}
<title>CSIT ASSOCIATION OF BMC</title>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{%static 'blog/ReadMore.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{%endblock%}

{%block content%}
<section id="Blog">
    <!-- overlay_section -->
    <div class="blog_header blog_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="overlay_text">
                        <h3>BLOG DETAILS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="blog_details_container" style="word-wrap: break-word;">
            <div class="title_row">
                <div class="blog_title">{{object.title}}</div>
            </div>
            <div class="share-and-featured-image">
                <div class="featured-image">
                    <img src="{{object.image.url}}">
                </div>
            </div>
            <div class="row" style="word-break: break-word; padding: 0px 34px;">
                <p class="para mt-5">{{object.content}}</p>>
<!--                <div class="share-and-featured-image">-->
<!--                    <div class="featured-image">-->
<!--                        <img src="../assets/bcg2.jpg">-->
<!--                    </div>-->
<!--                </div>-->


<!--                <p class="para mt-5">-->
<!--                </p>-->

<!--                </p>-->


            </div>
            <ul class="blog_writer_details">
                <li class="writer">
                    <div class="user_image">
                        <img src="{{object.author.userprofile.image.url}}" alt="first_user">
                    </div>
                    <p class="name">{{object.author.userprofile.name}}</p>
                </li>
                <li class="date">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <p class="day">{{object.created_at}}</p>
                </li>


            </ul>
        </div>

    </div>

    <div class="comment">
        <span>
            <span class="no_of_comment">0 Comments</span>
        </span>
    </div>
    <!-- commentor section -->
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="d-flex flex-column comment-section">
                    <div class="p-2">
                        <div class="d-flex flex-row align-items-start"><img class="square mr-4"
                                                                            src="{{object.author.userprofile.image.url}}" width="50"
                                                                            height="60"><textarea
                                class="form-control ml-1 shadow-none textarea">Write a Comment...</textarea></div>
                        <div class="mt-2 text-right">
                            <button class="btn  btn-sm shadow-none post_btn" type="button">Post comment</button>
                            <button class="btn  btn-sm ml-1 shadow-none cancel_btn" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</section>


<!-- start of footter -->
<!-- end of footer -->


{%endblock%}

{%block script%}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();

</script>
{%endblock%}