{%extends 'base.html'%} 
{%load static%} 

{%block head%}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="{%static 'blog/blog_detail.css' %}">
 {%endblock%} 


{%block content%}


<!-- start of blog section -->
<section id="Blog">
    <div class="container">
        <div class="blog_details_container" style="word-wrap: break-word;">
            <div class="title_row">
                <div class="blog_title">
                    <h1>{{object.title}}</h1>
                </div>
            </div>
            <div class="share-and-featured-image">
                <div class="featured-image">
                    <img src="{{object.image.url}}" alt="">
                </div>
            </div>
            <div class="row" data-aos="zoom-in-up" data-aos-duration="3000" style="word-break: break-word; padding: 0px 50px;">
                <p style="font-size:16px;" class="para mt-5">
                   {{object.content|safe|linebreaksbr}}
                </p>


            </div>
            <ul class="blog_writer_details">
                <li class="writer">
                    <div class="user_image">
                        <img src="{{object.author.userprofile.image.url}}" alt="first_user">
                    </div>
                    <p class="name">{{object.author.userprofile.name}}</p>
                </li>
                <li class="date">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <p class="day">{{object.created_at}}</p>
                </li>



            </ul>
            <ul>
                <div class="container mt-3">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-12">
                            <div class="d-flex flex-column">
                                <div class="p-2">

                                    <div class="mt-2 ml-2 edit_del text-left">
                                        <a href="{%url 'blog_update' object.slug %}"><button  class="btn  btn-sm shadow-none post_btn" data-aos="fade-left" data-aos-duration="1500" type="button">Edit</button></a>
                                        <a href="{%url 'blog_delete' object.slug %}"><button class="btn  btn-sm ml-3 shadow-none cancel_btn" type="button">Delete</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </ul>
    </div>

    </div>

    <div class="comment">
        <span>
            <span class="no_of_comment">0 Comments</span>
        </span>
    </div>
    <!-- commentor section -->
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="d-flex flex-column comment-section">
                    <div class="p-1">
                        <div class="d-flex flex-row align-items-start"><img class="square mr-4" src="{{object.}}" width="50" height="60"><textarea class="form-control ml-1 shadow-none textarea">Write a Comment...</textarea></div>
                        <div class="mt-2 text-right"><button class="btn  btn-sm shadow-none post_btn" type="button">Post comment</button><button class="btn  btn-sm ml-1 shadow-none cancel_btn" type="button">Cancel</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



{% endblock %} {% block script %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{%endblock %}