<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="../static/login.css">
    <title>Login Form</title>
</head>
<body>
    <div class="overlay"></div>
<div 
    class="container d-flex justify-content-center alert alert-warning alert-dismissible fade show alert-{{message.tags}} " id = "message" role="alert">
    {{message}}
    <button style="padding:0;background:white;padding:1px 20px;" type="button" class="close" data-dismiss="alert"
        aria-label="Close">
        <span style="font-size:30px;font-weight:bold;" aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container d-flex justify-content-center mt-0 wrap">
   
    <div class="circle">
        <i class="fas fa-sign-in-alt"></i>
    </div>
  <div class="row">
      <div class="col-sm">
        <h4 class="title">Already have an account? Login</h4>
        <div class="group">
            <label for="usr"><i class="far fa-user"></i></label>
            <input type="text" class="" id="usr" placeholder="Username">
        </div>
        <!-- <div class="warning-info" id="user-warning-info">This is for username warning-info</div> -->
        
        <div class="group pass">
            <label for="pwd">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" class="" id="pwd" placeholder="Password">
         <span class="eye-icons">
            <i class="far fa-eye" id="open"></i>
            <i class="far fa-eye-slash" id="close"></i>
         </span>
        </div>
        <!-- <div class="warning-info" id="password-warning-info">This is for password warning-info</div> -->
        <div class="custom-control custom-checkbox check">
            <input type="checkbox" class="custom-control-input" id="customCheck" name="">
            <label class="custom-control-label check-label remember" for="customCheck">Remember me</label>
        </div>
        <button class="btn btn-block button">LOGIN</button>
        <div class="below-part">
            <p>Create an account? <span><a href="../template/signup.html" target="_blank">Sign Up</a></span></p>
           
        </div>
      </div>
  </div>
  
</div>
 <script src="../static/login.js"></script>   
</body>
</html>