{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  <!--bootstrap css file -->


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">



  <!-- fontawesome link -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


  <!-- font family kausan link -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">


  



  <!-- linking CSS file -->
  <link rel="stylesheet" href="{%static 'base.css'%}">
  <link rel="stylesheet" href="{%static 'reponsive.css' %}">
  {%block head%}{% endblock %}
  
    <title>{%block title%}{%endblock%} | CSIT Association of BMC</title>
</head>
<body>
      <!-- top most section -->
  <header id="header-section">

    <div class="container-fluid">
      <div class="row">

        <div class="top-wrapper">

          <div class="contact">
            <ul>
              <li><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;+977 9867397005</li>
              <li>
                <i class="fas fa-envelope"></i> <a href="#">&nbsp;csitassociationbmc@gmail.com</a>
              </li>
            </ul>
          </div>
          <div class="login-btn">
            {%if user.is_authenticated%}
            <a class="" href="{%url 'logout' %}"><i class="fas fa-sign-in-alt"></i>&nbsp;Logout</a>
            {%else%}
            <a class="" href="{%url 'login' %}"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
            {%endif%}
          </div>
        </div>

      </div>

    </div>


    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white navs ">
      <a href="{%url 'home' %}" class="navbar-brand"><img src="{%static 'assets/logo.png' %}" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">

        </span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <!-- Home Link -->
          <li class="nav-item">
            <a class="nav-link home" href="{%url 'home' %}">Home </a>
          </li>
          

          <!-- About -->
          <li class="nav-item">
            <a class="nav-link" href="{%url 'about' %}">About</a>
          </li>

          <!-- Events -->
          <li class="nav-item">
            <a class="nav-link" href="{%url 'events'%}">Events</a>
          </li>

          <!-- notes -->
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle d-none d-lg-block" href="{%url 'notes'%}">
              Notes
            </a> -->
            <a class="nav-link dropdown-toggle d-inline-block d-lg-none" data-toggle="dropdown" href="{%url 'notes'%}">
              Notes
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">1st sem</a>
              <a class="dropdown-item" href="#">2nd sem</a>

            </div>
          </li>
          <!-- Posts -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-none d-lg-block" href="#">
              Posts
            </a>
            <a class="nav-link dropdown-toggle d-inline-block d-lg-none" data-toggle="dropdown" href="#">
              Posts
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{%url 'blogs' %}">Blogs</a>
              

            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Examination</a>
          </li>
        </ul>
      </div>
    </nav>

  </header>
    

  {% block content %}{% endblock %}


   <!-- footer -->

   <footer>
    <div class="foot-section">
      <div class="container-fluid">
        <div class="row">
          <!-- for logo column -->
          <div class=" col-lg-4 col-md-6  first-col">
            <div class="foot-logo">
              <img src="{%static 'assets/logo.png' %}" alt="logo">
            </div>

            <p class="foot-description">CSIT Association of BMC is a non-profitable, non-governmental, non-political,
              social organization
              established in 2017 by the young energetic students pursuing their career in BScCSIT.
              The main purpose of establishing this association is to act as a bridge between the faculty
              students and college Administration.
            </p>
            <div class="social-icon">
              <a href="https://www.facebook.com/csit.bmc" target="_blank"><i class="fab fa-facebook-square"></i></a>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-github-square"></i>
              <i class="fab fa-linkedin"></i>
            </div>

          </div>
          <div class="col-lg-2 col-md-3 second-col text-justify">
            <h1>Services</h1>

            <ul class="services-link">
              <li><a href="#">Provathons</a> </li>
              <li><a href="#">Intership</a></li>
              <li><a href="#">Workshops</a></li>
              <li><a href="#">Entrance Preparation</a></li>
              <li><a href="#">Job Placements</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 second-col text-justify">
            <h1>Useful Links</h1>

            <ul class="services-link">
              <li><a href="">About</a> </li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Posts</a></li>
              <li><a href="#">Notes</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Our Impact</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 our-location">
            <h1>Our Location</h1>
            <p><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.211503467195!2d83.4657135146652!3d27.71075528279049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399686f71446a4b1%3A0x712e7c86b3c8d75!2sButwal%20Multiple%20Campus!5e0!3m2!1sen!2snp!4v1624623063971!5m2!1sen!2snp"
                style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-section">


      <div class="row">
        <div class="col-md-12 ">
          <p>Copyright &copy;<span id="year"></span> All rights reserved by CSIT ASSCOCIATION OF BMC</p>
        </div>
      </div>

    </div>

  </footer>

  <!-- go-to-top icon -->
  <button class="gotoTop"><i class="fas fa-arrow-up"></i></button>




    <!-- js boot file -->
    <script src="{%static 'base.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    

    {% block scripts %}{% endblock %}

    
</body>
</html>