{%extends 'base.html' %}
{%load static%}

{%block head%}
    <link rel="stylesheet" href="{%static 'home/css/index.css' %}">
{%endblock%}

{%block content%}
<!-- Showcase -->

<div class="container-fluid p-0">
    <div id="carousel" class="carousel slide hero-slides" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li class="active" data-target="#carousel" data-slide-to="0"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>

        </ol> -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item drk active boat">
                <div class="container-fluid h-100 d-md-block">
                    <div class="row align-items-center h-100">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-8">
                            <div class="carousel-caption">
                                <h2 class="display-4 animate__animated animate__fadeInDown animate__delay-1s animate__repeat-1">
                                    Boat Excursions</h2>
                                <p class="animate__animated animate__fadeInLeft animate__delay-2s">Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin.
                                    Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                                <a class=" delicious-btn animate__animated animate__fadeIn animate__delay-3s animate__repeat-0"
                                   href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item drk  sea">
                <div class="container-fluid h-100 d-md-block">
                    <div class="row d-flex align-items-center  h-100">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6col-sm-8">
                            <div class="carousel-caption">
                                <h2 class="display-4">Boat Excursions</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae
                                    luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu
                                    varius.</p>
                                <a class=" delicious-btn " href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item drk  river">
                <div class="container-fluid h-100 w-100 d-md-block">
                    <div class="row d-flex align-items-center  h-100">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6col-sm-8">
                            <div class="carousel-caption">
                                <h2 class="display-4">Boat Excursions</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae
                                    luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu
                                    varius.</p>
                                <a class=" delicious-btn text-decoration-none" href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<!-- Why to choose CSIT -->
<!-- Why to choose CSIT -->
<div class="container-fluid  whyCsit-wrapper">
    <div class="row no-gutters">
        <div class="col-md-3">
            <section>

                <div class="row ">

                    <div id="vedio-play-card">
                        <div class="vedio-card card-front">

                            <h1>You want to know more about CSIT?</h1>
                        </div>

                        <div class="vedio-card card-back">
                            <a href="#" class="video" data-video="https://www.youtube.com/embed/QvgaCWrVdyw"
                               data-toggle="modal" data-target="#videoModal">
                                <i class="fas fa-play fa-3x"></i></a>
                            <h1>See About CSIT</h1>
                        </div>
                    </div>


                    <!-- video Modal -->
                    <div class="modal fade" id="videoModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                    <iframe src=" " frameborder="0" height="350" width="100%" allowfullscreen></iframe>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <!-- another -->

        <div class="col-md-9 d-none d-lg-block d-xl-block">

            <div class="row no-gutters">


                <div class="col-md-9">
                    <div class="tab">

                        <button class="tablinks" onclick="openCity(event, '1')" id="defaultOpen">Benefits</button>


                        <button class="tablinks" onclick="openCity(event, '2')">Self Development</button>


                        <button class="tablinks" onclick="openCity(event, '3')">Sprituality</button>


                        <button class="tablinks" onclick="openCity(event, '4')">Alumina</button>


                    </div>
                </div>
            </div>


            <div class="tabcontents">


                <div class="dark-overlays">
                    <div class="row">

                        <div class="col-md-12 tabConn">

                            <div id="1" class="tabcontent">

                                <h1 class="py-4">Why Choose CSIT?</h1>
                                <p class="py-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus,
                                    aperiam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, dolore
                                    numquam! Consectetur, excepturi porro repellendus officiis expedita ipsum ducimus
                                    dolorem.</p>

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum repellat iure ipsum
                                    id, asperiores pariatur repudiandae minus ut mollitia perspiciatis obcaecati
                                    voluptatem illum voluptate vero accusamus commodi odio architecto sint. Quod
                                    delectus quos magni, sint ipsam, aliquid voluptates eaque velit error non deleniti
                                    eveniet laboriosam repudiandae atque, ea accusamus voluptate!</p>
                            </div>

                            <div id="2" class="tabcontent">

                                <h3>hello 2</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, aperiam.</p>
                            </div>

                            <div id="3" class="tabcontent">

                                <h3>hello 3</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, aperiam.</p>
                            </div>


                            <div id="4" class="tabcontent">

                                <h3>hello 4</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, aperiam.</p4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>


<!-- Collapse only shows in small screen -->
<div id="accordion ">
    <h3 class="display-4 text-center my-3 d-lg-none d-md-none bg-info">Why Csit?</h3>
    <!-- Benefits -->
    <div class="card d-lg-none d-md-none">
        <div class="card-header">
            <h5 class="mb-0">
                <div class="about" href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                    <i class="fas fa-arrow-circle-down"></i>&nbsp;Benefits
                </div>
            </h5>
        </div>
        <div id="collapse1" class="collapse show">
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem fugit eligendi porro molestiae fuga
                inventore nihil earum deserunt eius facere culpa dolor, placeat eaque totam quisquam nulla maxime.
            </div>
        </div>
    </div>
    <!-- Self Development -->
    <div class="card d-lg-none d-md-none">
        <div class="card-header">
            <h5 class="mb-0">
                <div class="about" href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                    <i class="fas fa-arrow-circle-down"></i>&nbsp;Self Development
                </div>
            </h5>
        </div>
        <div id="collapse2" class="collapse ">
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem fugit eligendi porro molestiae fuga
                inventore nihil earum deserunt eius facere culpa dolor, placeat eaque totam quisquam nulla maxime.
            </div>
        </div>
    </div>

    <!-- Sprituality -->
    <div class="card d-lg-none d-md-none">
        <div class="card-header">
            <h5 class="mb-0">
                <div class="about" href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                    <i class="fas fa-arrow-circle-down"></i>&nbsp;Sprituality
                </div>
            </h5>
        </div>
        <div id="collapse3" class="collapse ">
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem fugit eligendi porro molestiae fuga
                inventore nihil earum deserunt eius facere culpa dolor, placeat eaque totam quisquam nulla maxime.
            </div>
        </div>
    </div>
    <!-- Alumini -->
    <div class="card d-lg-none d-md-none">
        <div class="card-header">
            <h5 class="about mb-0">
                <div class="about" href="#collapse4" data-toggle="collapse" data-parent="#accordion">
                    <i class="fas fa-arrow-circle-down "></i>&nbsp;Alumini
                </div>
            </h5>
        </div>
        <div id="collapse4" class="collapse ">
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem fugit eligendi porro molestiae fuga
                inventore nihil earum deserunt eius facere culpa dolor, placeat eaque totam quisquam nulla maxime.
            </div>
        </div>
    </div>
</div>

<!-- About Our collage -->

<section class="aboutClz">
    <div class="row">
        <div class="col-lg-7 col-md-12 not-slider">
            <div class="collegeImg text-md-center">
                <img src="{%static 'home/pexels-element-digital-1370298.jpg' %}" alt="Photo1" class="clzImg clzImg-1">
                <img src="{%static 'home/pexels-meliani-driss-2982449.jpg' %}" alt="Photo2" class="clzImg clzImg-2">
                <img src="{%static 'home/pexels-pixabay-289740.jpg' %}" alt="Photo3" class="clzImg clzImg-3">
            </div>

        </div>
        <div class="col-12 d-none show-slider ">
            <div class="owl-carousel owl-carousel3 owl-theme">

                <div class="item active"><img src="{%static 'home/pexels-meliani-driss-2982449.jpg' %}" alt="Photo2"
                                              class="clzImg clzImg-1"></div>

                <div class="item">
                    <img src="{%static 'home/pexels-element-digital-1370298.jpg' %}" alt="Photo1" class="clzImg clzImg-2"></div>


                <div class="item"><img src="{%static 'home/pexels-pixabay-289740.jpg' %}" alt="Photo3" class="clzImg clzImg-3">
                </div>

            </div>
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="clzDescription">
                <h1>ABOUT OUR COLLEGE </h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam magnam hic, iste molestias fuga
                    aliquam, culpa placeat corporis vero quasi tempore voluptatem tempora expedita, officiis
                    necessitatibus ipsam quia sit? Non aspernatur iusto quia illo asperiores nesciunt consequatur
                    inventore dolore totam, ipsa, excepturi, cupiditate similique laborum dolores magnam molestias
                    commodi incidunt Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptatum neque
                    expedita odit atque, est unde culpa! Vel, excepturi dignissimos. Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Dignissimos, iste. ?</p>
            </div>

            <div class="learnMore ">
                <span><i class="fas fa-book-reader"></i><a class="ml-3" href="#">Learn More About BMC</a></span>
            </div>


        </div>
    </div>


</section>


<!-- latest News Event -->


<div class="latest-News-Event">
    <div class="container-fluid">


        <!-- Latest News -->
        <div class="row">


            <div class="col-lg-4 col-md-6 news-wrapper">

                <div class="latest-News">
                    <header>
                        <ul class="latest-News_Top d-flex justify-content-between w-100">
                            <li>Latest News</li>
                            <li><a href="#" class="btn btn-outline-info">VIEW ALL NEWS</a></li>
                        </ul>
                    </header>
                    <section>

                    </section>

                </div>

                <!-- news Grid -->
                <div class="row">
                    <div class="news-Grid ml-2 ml-md-1">


                        <div class="col-lg-12 mt-5">
                            <div class="row no-gutters">
                                <div class="col-lg-4 col-md-5 mr-4 mr-md-3">
                                    <img src="{%static 'home/slider/slider4.jpg' %}" alt="">
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <!-- Date Section -->
                                    <section class="news_Grid-Date">July 22,2021</section>

                                    <!-- demo news word -->
                                    <section class="news_Grid-Describe">LondonMet International Scholarship
                                        Shortlisted Nominees
                                    </section>
                                </div>
                            </div>

                        </div>
                        <!-- another news -->
                        <div class="col-lg-12 mt-3 ">
                            <div class="row no-gutters">
                                <div class="col-lg-4 col-md-5 mr-4 mr-md-3">
                                    <img src="{%static 'home/slider/slider4.jpg' %}" alt="">
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <!-- Date Section -->
                                    <section class="news_Grid-Date">July 22,2021</section>

                                    <!-- demo news word -->
                                    <section class="news_Grid-Describe">LondonMet International Scholarship
                                        Shortlisted Nominees
                                    </section>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- lastest Events -->
            <div class="col-lg-7 col-md-6">
                <div class="latest-Events">

                    <header>
                        <ul class="latest-Events_Top d-flex justify-content-between w-100">
                            <li> Events</li>
                            <li><a href="#" class="btn btn-outline-danger">VIEW ALL EVENTS</a></li>
                        </ul>
                    </header>
                    <section>

                    </section>
                </div>
                <!-- Latest Event Grid -->
                <div class="events-Grid pl-4 ">
                    <div class="row no-gutters">

                        <div class="col-lg-6 col-md-12 mt-5 d-lg-block">
                            <img src="{%static 'home/slider/slider1.jpg' %}" alt="">
                            <!-- Date Section -->
                            <section class="news_Grid-Date">July 20,2021</section>

                            <!-- demo news word -->
                            <section class="news_Grid-Describe">LondonMet International Scholarship
                                Shortlisted Nominees
                            </section>

                        </div>
                        <!-- another -->
                        <div class="col-lg-6 col-md-6 d-lg-block  d-md-none mt-5">
                            <img src="{%static 'home/slider/slider1.jpg' %}" alt="">
                            <!-- Date Section -->
                            <section class="news_Grid-Date">July 22,2021</section>

                            <!-- demo news word -->
                            <section class="news_Grid-Describe">LondonMet International Scholarship
                                Shortlisted Nominees
                            </section>

                        </div>
                    </div>

                </div>

                <!-- another -->


            </div>
        </div>
    </div>
</div>


<!-- Members volunters patners .... -->
<div class="activeGroups">

    <div class="blue-overlays">
        <div class="container">

            <div class="row">
                <div class="col-md-12 showcase">


                    <section class="volunters ">
                        <i class="fas fa-people-carry fa-7x"></i>
                        <h1 class="display-3">&nbsp;&nbsp;300+</h1>
                        <h2 class="display-4">Volunters</h2>
                    </section>
                    <section class="volunters ">
                        <i class="fas fa-users fa-7x"></i>
                        <h1 class="display-3">&nbsp;&nbsp;300+</h1>
                        <h2 class="display-4">Participants</h2>
                    </section>
                    <section class="volunters">
                        <i class="fas fa-user-friends fa-7x"></i>
                        <h1 class="display-3">&nbsp;&nbsp;300+</h1>
                        <h2 class="display-4">Members</h2>
                    </section>

                    <section class="volunters">
                        <i class="fas fa-handshake fa-7x"></i>
                        <h1 class="display-3">&nbsp;&nbsp;300+</h1>
                        <h2 class="display-4">Patners</h2>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MESSAGE FROM ACHIVERS -->
<div class="container-fluid achivers p-0">
    <div class="achivers-head">
        <h1>Message From Great Achivers</h1>
    </div>


    <div class="owl-carousel owl-carousel1 owl-theme">


        <div class="item">
            <div class="row">


                <!-- <div class="col-lg-2 offset-lg-0 offset-md-5 offset-sm-4 offset-3 offset-0"> -->
                <div class="col-lg-2 img-row">


                    <div class="achivers-image">

                        <img src="{%static 'home/developers/roman.png' %}" alt="img">
                        <figcaption class="achivers-caption">
                            <i class="fab fa-facebook-square"></i>

                            <i class="fab fa-github-square"></i>
                            <i class="fab fa-linkedin"></i>
                        </figcaption>
                    </div>

                </div>
                <div class="col-lg-10 col-md-12">
                    <p class="achivers-para">
                        <i class="fas fa-quote-left"></i>
                        Butwal Multiple Campus (BMC) is the non private engineering college, affiliated
                        to Tribhuvan University. It represents a broad and dynamic spectrum of interest,
                        background and approaches. Our college community is committed to make the college a
                        place that promotes freedom of thought, innovation and creativity. BMC continuing
                        commitment to articulate, reinforce and reflect moral and ethical values along with
                        technical skills in its students.<i class="fas fa-quote-right"></i>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="position">
                        <div>
                            <p class="achivers-name">Mr. Darsan Sharma</p>
                        </div>
                        <div>
                            <p class="achivers-skill">Python Developer</p>
                        </div>

                        <div class="read-more">
                            <button href="#" class="btn btn-outline-danger">Read The Full Message</button>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!-- <div class="col-md-8"> -->
        <div class="item"><h4>2</h4></div>
        <div class="item"><h4>3</h4></div>
        <div class="item"><h4>4</h4></div>


    </div>
</div>


<!-- dEVELOPERS TEAM -->
<div class="container-fluid developers">
    <h1 class="thanks">THANKS TO DEVELOPERS</h1>

    <div class="owl-carousel owl-carousel2 owl-theme">
        <!-- shrish karki -->
        <div class="item ">
            <div class="wrapper">


                <div class="developer-img-wrapper">
                    <div class="developer-img img-1">
                        <img src="{%static 'home/developers/shrish.png' %}" alt="shrish">
                    </div>
                </div>
            </div>
            <h2 class="developer-name">Shrish Karki</h2>
            <h3 class="developer-skill">Frontend Developer</h3>
            <p class="about-dev">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates officia vitae qui
                sit, mollitia quos consectetur? Labore ratione earum neque ullam tempora velit eum? Provident minus
                reiciendis beatae hic quibusdam?</p>


            <div class="developer-socialMedia">
                <i class="fab fa-facebook-square"></i>

                <i class="fab fa-github-square"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>


        <!-- 2nd developer -->
        <div class="item">
            <div class="wrapper">


                <div class="developer-img-wrapper">
                    <div class="developer-img img-2">
                        <img src="{%static 'home/developers/anjana.png' %}" alt="anjana">
                    </div>
                </div>
            </div>
            <h2 class="developer-name">Anjana Poudel</h2>
            <h3 class="developer-skill">Frontend Developer</h3>
            <p class="about-dev">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates officia vitae qui
                sit, mollitia quos consectetur? Labore ratione earum neque ullam tempora velit eum? Provident minus
                reiciendis beatae hic quibusdam?</p>

            <div class="developer-socialMedia">
                <i class="fab fa-facebook-square"></i>

                <i class="fab fa-github-square"></i>
                <i class="fab fa-linkedin"></i>

            </div>
        </div>

        <!-- 3rd developer -->
        <div class="item">
            <div class="wrapper">


                <div class="developer-img-wrapper">
                    <div class="developer-img img-3">
                        <img src="{%static 'home/developers/kisan.png' %}" alt="kisan pic">
                    </div>
                </div>
            </div>
            <h2 class="developer-name">Kisan Basyal</h2>
            <h3 class="developer-skill">Frontend Developer
                & UI/UX Designer</h3>
            <p class="about-dev">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates officia vitae qui
                sit, mollitia quos consectetur? Labore ratione earum neque ullam tempora velit eum? Provident minus
                reiciendis beatae hic quibusdam?</p>

            <div class="developer-socialMedia">
                <i class="fab fa-facebook-square"></i>

                <i class="fab fa-github-square"></i>
                <i class="fab fa-linkedin"></i>

            </div>
        </div>

        <!-- 4th developer -->
        <div class="item">
            <div class="wrapper">


                <div class="developer-img-wrapper">
                    <div class="developer-img img-4">
                        <img src="{%static 'home/developers/samir.png' %}" alt="kisan pic">
                    </div>
                </div>
            </div>
            <h2 class="developer-name">Samir Thapa</h2>
            <h3 class="developer-skill">Frontend Developer &
                Backend Developer</h3>
            <p class="about-dev">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates officia vitae qui
                sit, mollitia quos consectetur? Labore ratione earum neque ullam tempora velit eum? Provident minus
                reiciendis beatae hic quibusdam?</p>

            <div class="developer-socialMedia">
                <i class="fab fa-facebook-square"></i>

                <i class="fab fa-github-square"></i>
                <i class="fab fa-linkedin"></i>

            </div>
        </div>
        <!-- 5th developer -->
        <div class="item">
            <div class="wrapper">


                <div class="developer-img-wrapper">
                    <div class="developer-img img-5">
                        <img src="{%static 'home/developers/roman.png' %}" alt="developers pic">
                    </div>
                </div>
            </div>
            <h2 class="developer-name">Roman K.C</h2>
            <h3 class="developer-skill">Python Developer</h3>
            <p class="about-dev">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates officia vitae qui
                sit, mollitia quos consectetur? Labore ratione earum neque ullam tempora velit eum? Provident minus
                reiciendis beatae hic quibusdam?</p>

            <div class="developer-socialMedia">
                <a href="https://www.facebook.com" target="_blank"> <i class="fab fa-facebook-square"></i></a>


                <a href=""><i class="fab fa-github-square"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

        <!-- 6th developer -->
        <div class="item">
            <div class="wrapper">


                <div class="developer-img-wrapper">
                    <div class="developer-img img-6">
                        <img src="{%static 'home/developers/darsan.png' %}" alt="developers pic">
                    </div>
                </div>
            </div>
            <h2 class="developer-name">Darsan Sharma</h2>
            <h3 class="developer-skill">Python Developer</h3>
            <p class="about-dev">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates officia vitae qui
                sit, mollitia quos consectetur? Labore ratione earum neque ullam tempora velit eum? Provident minus
                reiciendis beatae hic quibusdam?</p>

            <div class="developer-socialMedia">
                <a href="https://www.facebook.com" target="_blank"> <i class="fab fa-facebook-square"></i></a>


                <a href=""><i class="fab fa-github-square"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

    </div>

</div>

<!--JavaScriptFile-->

{%endblock%}

