@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Unna&display=swap');

:root{
    --colorRed: red;
    --colorDenseBlue: darkBlue;
    --colorWhite: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

body,html{
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
}

.events__header{
    width: 100%;
    height: 28.8rem;
    padding-top: 3.2rem;
    background-image: url("./media/464334.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    filter: brightness(0.45);
    -webkit-filter: brightness(0.45);
    
}
.header__container{
    width: 100%;
    text-align: center;
    color: var(--colorWhite);
    position: absolute;
    top: 3.2rem;
    filter: brightness(2);
    height: 25.6rem;
    
}

.header__container > strong{
    font-size: 4.8rem;
    display: inline-block;
}
.header__container > p{
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: -1.6rem;

}
@media screen and (max-width: 380px) {
    .header__container > strong{
        font-size: 3.2rem;
    }
    .header__container > p{
        font-size: 2rem;
        margin-top: -1.28rem;
    }
}

.main_parent_container{
    width: 100%;
    background-color: #d3d3d3;
    min-height: 32rem;
    margin-top: 0rem;
    padding-bottom: 1.6rem;

}
.filter_date_container{
    width: 100%;
    height: 11.2rem;
    background-color: var(--colorWhite);

}
.filter_btn_container{
    height: 15.4rem;
    text-align: start;
    display: flex;
    align-items: flex-end;

}
@media screen and (max-width: 507px) {
    .filter_btn_container{
        height: 11.8rem;

    }
   
}
#filter_btn_container_sec{
    display: none;

}

.filter_btn_container > .events_filter_btn{
    border: none;
    outline: none;
    background-color: var(--colorDenseBlue);
    padding: 0.64rem 0.96rem;
    color: var(--colorWhite);
    letter-spacing: 0.064rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    font-size: 1.6rem;
}

.filter_btn_container > .events_filter_btn:not(:first-child){
    margin-left: 0.64rem;
    font-size: 1.6rem;
}

.filter_btn_container > .events_filter_btn:hover{
    background-color: var(--colorWhite);
    padding: 0.96rem 1.6rem;
    color: var(--colorRed);
    font-size: 2rem;

}
.filter_btn_visited{
    background-color: var(--colorWhite) !important;
    padding: 0.96rem 1.6rem !important;
    color: var(--colorRed) !important;
    font-size: 2rem !important;
    
}
.filter_date_name{
    display: none;
    padding: 1.6rem;

}
#upcoming > strong::after{
    content: "";
    display: block;
    width: 13.6rem;
    border-top: 0.32rem solid red;
   
}
#prev > strong::after{
    content: "";
    display: block;
    width: 11.68rem;
    border-top: 0.32rem solid red;
   
}
.filter_date_name > strong{
    color: var(--colorDenseBlue);
    font-size: 3.2rem;
}
.filter_date_name > span > span > input[type=date]{
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    
}
.filter_date_name > span{
    float: right;
    font-size: 1.6rem; 
}
.filter_date_name > span > span:last-child{
    display: inline-block;
    padding: 0.48rem 1.28rem;
    margin-top: 0.96rem;
    color: var(--colorRed);
}

.filter_date_name > span > span:first-child{
    padding: 0.128rem 1.12rem;
    display: inline-block;
    border: 0.16rem solid var(--colorDenseBlue);
    border-radius: 1.6rem;
    margin-top: 0.8rem;
    margin-right: 1.52rem;
    cursor: pointer;
}

.filter_date_name > span::before, 
.filter_date_name > span::after{
    content: "";
    display: block;
    clear: both;
}

.filter_content{
    display: none ;
}
.filter_content_visited{
    display: block !important;
}
.events_content_container{
    margin: 3.2rem auto;
    padding-bottom: 3.2rem;
}
/* .item__flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

} */
.item__flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.6rem;
}
@media screen and (max-width: 991.5px) {
    .item__flex{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .item__flex{
        display: block;
    }
}

.common__article{
    padding: 2.4rem 4.8rem;
    min-height: 35rem;
    background-color: var(--colorDenseBlue);
    color: var(--colorWhite);
    margin-top: 0.8rem;
    font-size: 1.6rem;

}
.common_article_margin{
    margin: 0.4rem 0;
}
.common__article > .events__img{
    margin: 1.44rem 0;
}
.common__article > .events__img > img{
    max-width: 35.2rem;
    width: 100%;
    height: 16rem;
}
.common__article > strong > a{
    font-size: 2rem;
    color: white;
}
.common__article > strong >a:hover{
    color: wheat;
    text-decoration: underline;
}
.common__article > p{
    text-align: justify;
}
.common__article > .read__more{
    display: inline-block;
    margin-top: -1.92rem;
}
.common__article > .read_more > a{
    color: white;
    text-decoration: none;
}
.common__article > .read_more > a:hover,
.common__article > .read_more > a:active{
    color: rgb(141, 141, 192);
    text-decoration: underline;
}
.view_all_events_bottom_bar{
    height: 6.4rem;
    background-color: var(--colorWhite);
    color: var(--colorDenseBlue);
    font-size: 1.92rem;
    padding: 1.76rem 1.6rem;
}
.view_all_events_bottom_bar > span{
    float: right;
    cursor: pointer;
}

.event_filter_here{
    display: none;
}
@media screen and (max-width: 765px) {
    .common__article > .events__img {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
}

@media screen and (max-width: 404px) {
    
    #filter_btn_container_frst{
        display: none;
       
    }
    #filter_btn_container_sec{
        position: absolute;
        outline: none;
        margin-left: -0.16rem;
        cursor: pointer;
        height: auto;
        z-index: 99;
        overflow: visible;
        background-color: transparent !important;
        
    }
    #filter_btn_container_sec > li > input[type=button]{
        display: block;
    }
   
    .filter_btn_container1 > li > .events_filter_btn{
        border: none;
        outline: none;
        background-color: blue;
        padding: 0.32rem 0.64rem;
        font-weight: 600;
        color: var(--colorWhite);
        cursor: pointer;
        transition: all 400ms ease-in-out;
        font-size: 1.6rem;
        letter-spacing: 0.16rem;
    }
    .filter_btn_container1 > li > .events_filter_btn:not(:first-child){
        margin-left: 0.64rem;
    }
    
    .filter_btn_container1 > li > .events_filter_btn:hover{
        background-color: var(--colorWhite);
        color: var(--colorRed);
        font-size: 2.4rem;
        padding: 0.96rem 2.08rem;
        overflow: hidden;
    }
    
    .filter_btn_list_visited{
        background-color: transparent !important;
        padding: 0.96rem 1.6rem !important;
        color: var(--colorRed) !important;
        font-size: 1.92rem;
        
    }
    .event_filter_here{
        display: block;
        width: 18.4rem;
        background-color: var(--colorRed);
        cursor: pointer;
        color: var(--colorWhite);
        font-size: 1.92rem;
        padding: 0.16rem;
        border-bottom-right-radius: 0.64rem;
        text-align: center;
        transition: all 400ms ease-in-out;

    }
    .event_filter_here:hover #filter_btn_container_sec{
        transition: all 400ms ease-in-out;
        display: block;
        background-color: var(--colorWhite);
        
    }
    .event_filter_here > ul{
        list-style: none;

    }
    .event_filter_here > ul > li:not(:last-child){
        margin-bottom: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .filter_date_name > span > span:first-child {
        margin-right: 0;
    }
    .filter_date_name > span > span:last-child {
        padding: 0.16rem 0.64rem;
    }
    .filter_date_container{
        height: auto;
    } 
    .common__article{
        padding: 0.8rem 1.28rem;
    }
    .view_all_events_bottom_bar {
        height: auto;
    }
    .filter_date_name > span {
        float: none;
    }
}
@media screen and (max-width: 230px) {
    .common__article{
        overflow-y: scroll;
    }
    .header__container > strong{
        word-break: break-all;
    }
    .filter_btn_container1{
        overflow-x: hidden;
    }
}