/* for tablets */

@media (min-width:1346px) {
  /* .carousel-control-prev-icon{
    position: relative;
    left: -80px;
   }
  .carousel-control-next-icon{
    position: relative;
    right: -60px;
   
  } */
  
}
@media (max-width:1345px) {
  .collegeImg .clzImg{
      width: 40%;
     
      outline-offset: 1rem;
      height: 200px;
  
      
    }
    .tabcontents{
      background-position: 580px 18px;
    }
    /* .carousel-control-prev-icon{
      position: relative;
      left: -40px;
     }
    .carousel-control-next-icon{
      position: relative;
      right: -50px;
     
    } */
  }
    @media (max-width:1260px) {
        .aboutClz{
          padding: 3rem 5rem;
          height: 70vh;
        }
        .foot-section{
          padding:3rem 1rem;
        }
    
}
@media (max-width:1200px) {
  .aboutClz{
      padding: 3rem 5rem;
      height: 60vh;
    }
  .collegeImg .clzImg{
      width: 45%;
     
      outline-offset: 0.7rem;
      height: 220px;
  
      
    }
   
    .collegeImg .clzImg-2{
      left: 15rem;
     
    }
  .collegeImg .clzImg-3{
      left: 32rem;
     
    }
    .learnMore{
      margin: 0.5rem 0;
    }
    .tabConn{
      
      padding: 5rem 11rem;
      
     
    }
    .tabcontents{
      background-position: 450px 18px;
    }
}

/* 1150px */
@media (max-width:1150px) {

  .latest-News-Event{
    padding:14rem 5rem;
  }
  .news_Grid-Describe{
   
    font-size: 1.4rem;
   
    font-weight:900;
  }
}
@media (max-width:1040px) {
  .latest-News-Event{
    padding:10rem 2rem;
  }
  .tabConn{   
    padding: 3rem 10rem; 
  }
  .tabcontents{
    background-position: 380px 18px;
  }
}
@media (max-width:1024px) {
  .top-wrapper{
      height: 7rem;
  }
  .top-wrapper .contact ul{
      display: flex;
     flex-direction: column;
     
     
  }
  .top-wrapper .contact ul li,.top-wrapper .contact ul li a{
      padding-top: 1rem;

  }
  .contact ul li:first-child{
    padding: 0 3rem;
      border-right: none;
  }
  .contact ul li:last-child{
      
      padding-bottom: 1rem;
  }
  .top-wrapper .login-btn a{
      font-size: 1.5rem;
     
  }
  .login-btn{
      
     
      padding: 0rem 1.5rem;
      /* height: auto; */
     
  }
  
  .login-btn i{
      font-size: 1.6rem;
  }

  /* navbar */
  .navs{
      padding: 0% 8%;
  }
  .navs .navbar-brand{
      margin-left:10px;
      }
  .navbar-toggler{
      margin-right: 10px;
    }
    .navs  .nav-link{
    display: inline-block;
      margin: 5px;
      padding: 3rem 1rem !important;
      font-size: 2rem;
      
      height:100%;
      transition: border 1s;
      
      border-bottom: 6px solid transparent;
  }
  .dropdown-menu{
    margin-left: 12px;
  }
 
 

   .collegeImg .clzImg{
    width: 45%;
    
  }
 
  .collegeImg .clzImg-2{
    left: 12rem;
   
  }
.collegeImg .clzImg-3{
    left: 26rem;
   
  }

  .learnMore{
    margin: 0.5rem 0;
  }

 

}


@media (min-width:992px) {
  .dropdown:hover .dropdown-menu{
    display: block;
    
}
#carousel .carousel-item .carousel-caption {
 
 
  left:13%;
  word-spacing: 3px;
  line-height: 1.5;
  text-align: start;
  
  }
 
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  
  background-image:none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 80px;
  color: white;
  background-color: transparent;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 80px;
  color:white;
}
.carousel-control-prev-icon{
    position: relative;
    left: -40px;
   }
  .carousel-control-next-icon{
    position: relative;
    right: -40px;
   
  }
  
}



/* for medium screen */
@media (max-width:991px) {
  .aboutClz{ 
      height: auto;
    }
    .collegeImg{
     width:80%;
     margin: 1rem auto;     
      }
   
      .collegeImg .clzImg-2{
          left: 15rem;
         
        }
      .collegeImg .clzImg-3{
          left: 35rem;
         
        }  
         .achivers-para{
          font-size: 2.5rem;
          padding:1.5rem 4rem;
          font-family: 'Akaya Kanadaka', cursive;
          font-family: 'Viaoda Libre', cursive;
        }
        .achivers .img-row{
          display: flex;
          width: 100%;
          justify-content: center;
        }
        .navs{
          padding-top:1.2rem;
          padding-bottom: 1.2rem;
        }
         .navs  .nav-link{
    color: #001147 !important ;
    margin: 5px;
    padding:0.5rem 0.3rem !important;
    font-size: 1.7rem;
   
}
.dropdown-menu{
  margin-left: 0.4rem;
  text-align:start;
  border: none;
  padding-left: 2rem;
 
}
        .dropdown-menu a{

          color:#4563c7 ;
        
          font-size: 1.7rem;
          font-weight:500;
          display:block;
          width: 30%;
          
        
       }
      

     
}
@media (max-width:960px) {
  .tabConn{
    padding: 5rem 8rem;
  }
  .tabcontents{
    background-position: 350px 18px;
  }
  
}
@media (max-width:825px) {
  .tab button{
    padding: 17px 15px;
    font-size: 17px;
    font-weight: bold;
  }
  .tabConn{
    padding: 5rem 5rem;
  }
  .tabcontents{
    background-position: 200px 18px;
  }
  
}



@media (max-width:800px) {

      .collegeImg .clzImg-2{
          left: 12rem;
        }
      .collegeImg .clzImg-3{
          left: 30rem;
        }
         .achivers-para{
          font-size: 2rem;
          padding:1.5rem 1rem;
         
        }

}
@media (min-width:771px) {
  #carousel .carousel-item.boat{
    background-attachment: fixed;
  }
  #carousel .carousel-item.sea{
    background-attachment: fixed;
  }
  #carousel .carousel-item.river{
    background-attachment: fixed;
   
  } 
  
}
@media (max-width:770px) {
  .news-wrapper
  {
    margin-bottom: 8rem;
  }
  .news-Grid img{
    width: 70%;
    height: 20rem;
   
  }
  .news_Grid-Date{
    font-size: 1.5rem;
  }
  .news_Grid-Describe{
    width: 90%;
    font-size: 2rem;
    color: #001147;
    font-weight: bold;
  }

  .events-Grid img{
    width: 70%;
    height: 20rem;
    
  }
  .events-Grid{
   margin-left: -9px !important;
  }
  .activeGroups{
   
    background:url('./assets/memberBackground.jpg') no-repeat center center/cover;
    width: 100%;
    height: auto;
    position: relative;
    height: 30rem;

  }

  .showcase{
   
    display: flex;
    justify-content:center;
    text-align: center;
    align-items:center;
    
   
   
    height: 30rem;
   
  }
  /* footer */
  .foot-section .first-col{
    font-size: 1.7rem;
    line-height: 1.5;
    
    margin:2rem 1rem ;
  
  }
  .foot-section .first-col .foot-description{
    font-size: 1.7rem;
    line-height: 1.2;
   
    margin:1rem 0rem ;
  
  }
  .foot-section .second-col h1{
    display: inline-block;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
   
  }
  .whyCsit-wrapper{
    margin-top: 30px;
   
  }
  
}
@media (max-width:767px) {
  #vedio-play-card{
    height:30vh;
    width:99.9%;
   
  }
  .card-front{
     background-attachment: fixed;

  }
  /* when vedio play card section hoverd then card front rotate */
  #vedio-play-card:hover .card-front{
    
 transform:none;
  }
  .card-back{
   
    transform:none;
    background-image:none ;


  }
  #vedio-play-card:hover .card-back{
    transform:none !important;
  }
  .fa-play {
    position: absolute;
    font-size: 20px;
    top: 85%;
    left: 50%;
    width: 63px;
    padding: 15px 5px !important;
  
    text-align: center;
    
    margin-top: -42px;
    margin-left: -42px;
    background: #fff;
    border-radius: 50%;
    color: #ce4445;
  }
}

@media (max-width:670px) {
  .aboutClz{
    padding: 1rem 1.5rem;
  }
      .aboutClz .not-slider{
        display: none;
      }
      .aboutClz  .show-slider{
        display: block !important;
      
      }
     
      
     .aboutClz .show-slider .item img{
       width: 110%;
       height: 30rem;
            }
            .learnMore{
              margin: 3rem 0;
            }
            .learnMore a{
              font-size: 1.9rem;
              border-bottom: 7px solid #CE4445;
            }
            .learnMore .fa-book-reader{
              font-size: 2rem;
              padding-right: 0.7rem;
             
            }

    .activeGroups{
       height: auto;
    }       
  .showcase{
  height: auto;
    flex-direction: column;
   
  }
  .showcase .volunters{
    margin: 2rem 0;
  }
  .showcase .volunters i{
    font-size: 5rem;
  }
  .showcase h1 span{
    font-size: 3rem;
  }
  .showcase h2 span{
    font-size: 3rem;
  }

    }

/* 575px */
@media (max-width:575px){
  #carousel .carousel-item .carousel-caption {
     
      position: relative;
      top: 50%;
      left:10%;
      word-spacing: 2px;
      line-height: 1.3;
    
      }
  }
  @media (max-width:616px) {
    .contact ul li:first-child {
      padding:0rem !important;
      padding-bottom: 1rem !important; 
     
    }
    .contact ul li:last-child {
      padding: 0rem !important;
    }
    
  }
@media (min-width:601px) {
  .achivers .owl-nav{
   
      position: absolute;
      top: -70px;
      right: 100px;
  
    } 
  
}
  @media (max-width:600px) {
   
    
    .achivers .owl-nav .owl-prev{
      position:absolute;
      left:3px;
      top: 13%;
     
    } 
    .achivers .owl-nav .owl-next{
      position:absolute;
      right: 8px;
      top: 13%;
     
    } 
    .achivers .owl-carousel{
      padding: 2rem 0.3rem;
     
    }
 
    .achivers h1{

      
        font-size: 2.5rem;
        padding: 0rem 2rem;
     
      }
       .achivers-para{
        font-size: 1.7rem;
      }
    .achivers .position{
      padding: 0.3rem 2rem;
    }
    .achivers .position .achivers-name{
      font-size: 2.3rem;
     
    }
    .achivers .position .achivers-skill{
      font-size: 2rem;
     
    }
    .achivers .position .read-more button{
      font-size: 1.5rem;
     
      padding: 0.3rem 1rem;
      
    }
   
  }
 
  @media (max-width:490px) {
    .card-front h1{
      font-size: 2rem;
    }
    .achivers .owl-nav button .nav-button i{
      margin: 0.7rem !important;
    }
    .top-wrapper{
      padding: 0 2%;
  }
   
  }
/* phone-Landscape& + portrait */

@media (max-width:480px) {
    
    .login-btn{
        margin-right: 1rem;
        height: 75%;
        padding: 0.1rem 1.5rem;
        border-radius: 10px;
    }
    .carousel-item .carousel-caption h2{
      font-size:25px;
      font-weight: bold;
    }
    .carousel-item .carousel-caption p{
      font-size: 13px;
    }
  #carousel .carousel-item{
      height:60vh;
     
    } 
    .delicious-btn{
        width: 110px;
        font-weight:500;
        padding:0 15px;
        font-size: 1.4rem;
        height: 3rem;
        border-radius: 100px;
    }

    .latest-News-Event{
      padding:5rem 2rem;
    }
    .news-Grid img{
      width: 80%;
      height: 17rem;
     
    }
    .news_Grid-Date{
      font-size: 1.3rem;
    }
    .news_Grid-Describe{
      width: 100%;
      font-size: 1.7rem;
        }
    .events-Grid img{
      width: 80%;
      height: 17rem;   
    }
    .developers h1{
      margin-top: 2rem;
      font-size: 2.5rem;
      padding:0rem 1rem;
      border-left: 7px solid #011864;
    } 
    /* footer section */
    .foot-section .first-col .foot-description{
      font-size: 1.4rem;
      line-height: 1.3;
      text-align: justify;
     
    
    }
    .foot-section .second-col h1{
     
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
      font-size:2.2rem ;
     
      
    }
    .foot-section .first-col .social-icon i{
      font-size: 2.3rem;
     margin: 0.7rem;
    }
    .foot-section .services-link li a{
      font-size: 1.8rem;
     
     }
    .our-location h1{
     font-size: 2.2rem;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
    }
     /* copyright-section */
    .copyright-section p{
      padding-top: 0.6rem;
        font-weight: 600;
        font-size: 1.7rem;
        letter-spacing: 0.1rem;
      }
     
}
@media (min-width:480px) {
  .carousel-control-prev-icon{
    position: relative;
    left: -30px;
   }
  .carousel-control-next-icon{
    position: relative;
    right: -30px;
   
  }
  
}
@media (max-width:448px) {
  .top-wrapper .contact ul li, .top-wrapper .contact ul li a {
    font-size: 1.2rem;
}
}
@media (max-width:420px) {
  .developers .owl-theme .owl-nav .owl-prev{
  
    position: absolute;
    top: 42.5%;
  
    
  }
  .developers .owl-theme .owl-nav .owl-next{
    
    position: absolute;
   
    top: 42.5%;
  
   
  }
  
}
@media (max-width:405px) {
    .top-wrapper{
        height: auto;
    }
    .top-wrapper .contact ul li{
        font-size: 1.2rem;
        padding:0.5rem 0.8rem;
    }
    .contact ul li a{
        font-size: 1.2rem ;
    }
    .login-btn{
    
        height: 60%;
        padding: 0.1rem 1rem;
        border-radius: 10px;
    }
    .navs .navbar-brand{
        margin-left:0px;
        }
    .navbar-toggler{
        margin-right: 0px;
      }
      .foot-section{
        padding: 3rem 0rem !important;
        background-color: #001147;
        color: white;
      }
     
}

           


  

  @media (max-width:400px) {
    .aboutClz .show-slider .item img{ 
      height: 22rem;
    }
    .showcase .volunters{
      margin: 1.5rem 0;
    }
    .showcase .volunters i{
      font-size: 3.5rem;
    }
    .showcase h1{
      font-size: 3.7rem;
    }
    .showcase h2{
      font-size: 3rem;
    }
     .achivers-para{
      font-size: 1.5rem;
    }
    .achivers .position{
      padding: 0.3rem 2rem;
    }
    .achivers .position .achivers-name{
      font-size: 2rem;
     
    }
    .achivers .position .achivers-skill{
      font-size: 1.7rem;
     
    }
    .achivers .position .read-more button{
      font-size: 1.2rem;
      /* border-radius: 100px; */
      padding: 0.3rem 0.7rem;
      
    }
  }

  @media ( max-width:360px) {
    .login-btn{
    
     
     
     height: 50%;
     
  }
  
    .developers h1{
      margin-top: 2rem;
      font-size: 2rem;
      padding:0rem 1rem;
      border-left: 7px solid #011864;
    }
    .developers .owl-theme .owl-nav i{
      color: #001147;
      font-size: 2.8rem;
     
    }
    
    .achivers h1{
      font-size: 2.1rem;
      font-weight: bold;
    }
    .achivers .position{
     
    
     
     margin-top: -2rem;
      
    }
  }
 