* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1;
}
header {
  background: url("./imgs/zongnan-bao-deagK9-Dmt0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 50vh;
  color: #fff;
  position: relative;
  z-index: -1;
}

header h1 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  bottom: 15%;
  left: 8%;
  z-index: 2;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.intro-text {
  display: grid;
  place-items: center;
}
.intro-text h2 {
  color: #130f40;
  font-weight: 700;
  font-size: 24px;
}

.intro-text p {
  color: #7f8c8d;
  font-size: 14px;
}
.intro-image img {
  width: 100%;
  height: 350px;
}
.bottom__line::after{
  border-top: 0.2rem solid black;
  width: 100px;
  content: "";
  display: block;
}

.bottom__line__first::after{
  border-top: 0.2rem solid black;
  width: 90px;
  content: "";
  display: block;
}
.meet_title{
  margin-bottom: 3rem;
}

.meet_title::after{
  content: "";
  display: block;
  width: 150px;
  margin: auto;
  height: 10px;
  border-bottom: 0.2rem solid black;
  
}

@media screen and (max-width: 767px) {
  .intro{
    grid-template-columns: 1fr;

  }
  .intro-image{
    display: none;
  }
}

.team h2 {
  text-align: center;
  color: #130f40;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bolder;
}

.members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  place-items: center;
}

.member {
  min-width: 230px;
  height: 200px;
  background-color: #ecf0f1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.member:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.member h2 {
  margin-top: 3rem 0;
  text-transform: none;
  font-size: 16px;
}

.member p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 14px;
}

.image {
  width: 130px;
  height: 130px;
  background-color: #0abde3;
  border-radius: 50%;
  position: absolute;
  top: -25%;
  left: 20%;
}

.image img {
  width: 100px;
  height: 100px;
  position: relative;
  left: 10%;
  top: 5%;
}

.social-icons a {
  margin: 0 5px;
}

.social-icons a i {
  font-size: 17px;
  color: #d63031;
}
@media screen and (max-width: 992px){
  .members{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 545px){
  .members{
    grid-template-columns: 1fr;
  }
  .member{
    min-width: 300px;
    
  }
  .image{
    left: 27%;
  }
}

@media screen and (max-width: 340px){
  .member{
    min-width: 250px;
  }
}
