@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.overlay {
  /* position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1; */
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay::before {
  position: absolute;
  content: "";
  background: -moz-linear-gradient(
    left,
    #213d97 0%,
    #213d97 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    #213d97 0%,
    #213d97 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  background: linear-gradient(
    to right,
    #213d97 0%,
    #213d97 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213d97', endColorstr='#007db9e8',GradientType=1 );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}
header {
  background: url("./imgs/ion-sipilov-f5j-a8M1KEw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  color: #fff;
  position: relative;
  z-index: -1;
}

header h1 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  bottom: 10%;
  left: 8%;
  z-index: 2;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.intro-text {
  display: grid;
  place-items: center;
  padding: 10px;
}
.intro-text h2 {
  color: #130f40;
  font-weight: 700;
  font-size: 24px;
}

.intro-text p {
  color: #7f8c8d;
  font-size: 14px;
}
.intro-image img {
  width: 100%;
  height: 350px;
}

.team h2 {
  text-align: center;
  color: #130f40;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bolder;
}

.team-title {
  margin-bottom: 4rem;
}

.members {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 2fr;
  /* grid-template-columns: repeat(3, 1fr); */
  row-gap: 3rem;
  place-items: center;
  position: relative;
  left: 4%;
}

.member {
  width: 250px;
  height: 200px;
  background-color: #ecf0f1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.member:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.member h2 {
  margin-top: 3rem 0;
  text-transform: none;
  font-size: 16px;
}

.member p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 14px;
}

.image {
  width: 130px;
  height: 130px;
  background-color: #0abde3;
  border-radius: 50%;
  position: absolute;
  top: -25%;
  left: 20%;
}

.image img {
  width: 90px;
  height: 90px;
  position: relative;
  left: 15%;
  top: 10%;
}

.social-icons a {
  margin: 0 5px;
}

.social-icons a i {
  font-size: 17px;
  color: #d63031;
}

.social-icons a i:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#prakash {
  margin-bottom: 3rem;
  position: relative;
  left: 38%;
}

/* activeMembers */

.activeGroups {
  background: url("../about/imgs/memberBackground.jpg") no-repeat center
    center/cover;
  width: 100%;
  height: auto;
  position: relative;
  height: 35rem;
  color: white;
}
/* .blue-overlays::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #001147;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  z-index: -1;
} */

.active-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #001147;
  opacity: 0.7;
}

.showcase {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: white;
  text-align: center;
  height: 40rem;
  z-index: 1;
}
.showcase h1 span {
  font-size: 5rem;
  font-weight: bolder;
}
.showcase h2 {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    overflow-x: hidden;
  }
  .member {
    width: 200px;
  }

  .members {
    position: relative;
    left: 1.5%;
  }
  .intro {
    display: flex;
    flex-direction: column;
  }
  .showcase {
    height: 35rem;
  }
  .showcase h1 span {
    font-size: 2rem;
  }

  .showcase h2 {
    font-size: 1.5rem;
  }

  .volunters i.fas {
    font-size: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .intro {
    grid-template-columns: 1fr;
  }

  .intro-text p {
    font-size: small;
  }

  .members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* place-items: center; */
    position: relative;
    left: 6%;
  }

  .member {
    width: 250px;
  }

  #prakash {
    left: 6%;
  }
  .activeGroups {
    height: 200px;
  }

  .showcase {
    width: 100%;
    height: 200px;
    padding: 10px 15px;
    margin: 0;
    justify-content: center;
    gap: 8px;
  }

  div.col-md-12.showcase {
    padding: 20px;
    position: absolute;
    width: 100vw;
  }

  .showcase h1 span {
    font-size: 1rem;
  }

  .showcase h2 {
    font-size: 14px;
  }

  .volunters i.fas {
    font-size: 2rem;
  }
}

/* @media screen and (max-width: 770px) {
  .activeGroups {
    background: url("../about/imgs/memberBackground.jpg") no-repeat center
      center/cover;
    width: 100%;
    height: auto;
    position: relative;
    height: 30rem;
  }

  .showcase {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    height: 30rem;
  }
} */
