<!DOCTYPE html> {%load static%} {%load widget_tweaks%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{%static 'accounts/css/signup.css' %}">
    <title>Register Form</title>
</head>

<body>
    <div class="container  wrap">
        <h1 class="title">Don't have an account? Signup</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4 ">
                <!-- form section -->
                <form method="post">
                    {%csrf_token%}
                    <div class="form-group">
                        <label for="usr">Name</label>
                        <!--        <input type="text" class="username" id="usr" required>-->
                        {{profile_form.name|add_class:"username"|attr:"id:usr"}}
                        <span></span>
                    </div>

                    <div class="form-group">
                        <label for="eml">Email</label>
                        <!--        <input type="email" class="email" id="eml" required>-->
                        {{user_form.email|add_class:"email"|attr:"id:eml"}}
                        <span></span>
                    </div>

                    <div class="form-group">
                        <label for="rollno">Roll No</label>
                        <!--        <input type="number" class="rollNo" id="rollno" required>-->
                        {{profile_form.roll_no|add_class:"rollNo"|attr:"id:rollno"}}
                    </div>

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Upload your ID card photo</label>
                    </div>

                    <div class="form-group">
                        <div class="row mt-4">
                            <div class="col-6"><label for="cars">Choose your batch</label></div>
                            <div class="col-6">
                                <!--                <select name="cars" class="custom-select select" required>-->
                                <!--                    <option selected>2074</option>-->
                                <!--                    <option value="2075">2075</option>-->
                                <!--                    <option value="2076">2076</option>-->
                                <!--                    <option value="2077">2077</option>-->
                                <!--                </select>-->
                                {{profile_form.batch}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <!--        <input type="password" class="password" id="pwd" required>-->
                        {{{user_form.password1|add_class:"password"|attr:"id:pwd"}}}
                        <span></span>
                    </div>

                    <div class="form-group">
                        <label for="cpwd">Confirm Password</label>
                        <!--        <input type="password" class="cpassword" id="cpwd" required>-->
                        {{user_form.password2|add_class:"cpassword"|attr:"id:cpwd"}}
                        <span></span>
                    </div>

                    <input type="submit" class="btn btn-primary btn-block my-btn">

                </form>
            </div>
        </div>
    </div>
    <script>
        //code for the appearance of filename after upload
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <script src="{%static 'accounts/js/signup.js'%}"></script>
</body>

</html>